<ion-content class="content-section">
  <div class="layout-section">
    <div class="container">
        <div class="row-actions-top">
            <div class="title-section-container">
              <div class="title-arrow">
                <!-- Flecha a la izquierda -->
                <div class="left-arrow" (click)="volverCursos()">
                  <ion-icon name="arrow-back-outline"></ion-icon>
                </div>

                <div class="title">
                  <h3 class="title-section color-news">Crear Curso</h3>
                  <p class="subtitle-section color-news">Completa la información correspondiente al curso</p>
                </div>
              </div>
            </div>
        </div>
    </div>

    <ion-grid class="section-grid">
      <div class="form-cursos"> 
        <form action="" class="content-form">
          <div class="first-form">
            <div class="subtitle">
              <h4>Datos del curso</h4>
            </div>

            <div class="title-course">
              <label for="title-course">Título del curso</label>
              <textarea name="titulo" id="title-course"></textarea>
            </div>
  
            <div class="summary">
              <label for="summary-course">Resumen del curso</label>
              <textarea name="resumen" id="summary-course"></textarea>
            </div>
  
            <div class="objective">
              <label for="objective-course">Objetivo del curso</label>
              <textarea name="objetivo" id="objective-course"></textarea>
            </div>
            

            <div class="duration">
              <div class="label">
                <label for="time-course">Duración</label>
              </div>
              <div class="time">
                <input type="time" id="time-course" name="duracion">
                <p>Horas</p>
              </div>
            </div>

            <p class="foto">Seleccione imagen</p>
            <div class="img-course">
              <div class="content-img">
                <img src="{{ imgCurso }}" alt="">
              </div>
              
              <div class="image">
                <p>Seleccione imagen</p>
                <input type="file" title="Seleccione imagen" accept="image/*" name="" id="">
              </div>
            </div>
          </div>

          <div class="second-form">

            <div class="subtitle second-subtitle">
              <h4>Datos del capacitador(es)</h4>
  
              <div class="actions-page plus-btn">
                <div class="delete">
                  <ion-icon name="trash"></ion-icon>
                </div>
  
                <button class="btn-new-item">
                    <ion-icon class="icon-btn" name="add"></ion-icon>
                </button>
              </div>
            </div>
            <hr>
            <app-trainer></app-trainer>

            <div class="addtrainer">
              <app-trainer-get></app-trainer-get>
            </div>
            
          </div>

          <div class="third-form">
            <div class="subtitle third-subtitle">
              <h4>Sesiones</h4>
              <!-- web -->
              <div class="btn">
                <div class="delete">
                  <ion-icon name="trash"></ion-icon>
                </div>
  
                <div class="actions-page">
                  <button class="btn-new-item" (click) = "append_sesion();">
                      <span>Nueva Sesión</span>
                      <ion-icon class="icon-btn" name="add"></ion-icon>
                  </button>
                </div>
              </div>
  
              <!-- mobil -->
              <div class="actions-page plus-btn">
                <div class="delete">
                  <ion-icon name="trash"></ion-icon>
                </div>
  
                <button class="btn-new-item">
                    <ion-icon class="icon-btn" name="add"></ion-icon>
                </button>
              </div>
            </div>

            <div class="all-session">
              <h5>Sesión 1</h5>

              <div class="name">
                <label for="name-session">Nombre de la sesión</label>
                <textarea name="sesionNombre" id="name-session"></textarea>
               
              </div>

              <div class="link">
                <label for="link-session">Link de la sesión</label>
                <textarea name="sesionLink" id="link-session"></textarea>
              </div>
              <hr>
            </div>

            <div class="addsesion"></div>

            <app-send-notification></app-send-notification>

          </div>

          <div class="content-btn">
            <button type="submit" (click)="createCursos()">Guardar</button>
          </div>
        </form>
      </div>
    </ion-grid>
  </div>
  <app-footer></app-footer>
</ion-content>
