<ion-content class="content-section">
  <app-navigation-tabs></app-navigation-tabs>

  <div class="layout-section">
    <div class="courses">

      <app-menu-admin [location]="location"></app-menu-admin>

      <div class="container" >
        <div class="row-actions-top">
            <div class="title-section-container">
                <h3 class="title-section">ADMINISTRADOR DE COLABORADOR</h3>
                <p class="subtitle-section">Gestiona la información de los colaboradores de ASEI</p>
            </div>
        </div>
      </div>
      
      <ion-row>
        <ion-col size="12" size-lg="6" class="header-course left-header">
          <ion-searchbar placeholder="Buscar por nombre o palabra clave" (ionChange)="onSearchChange($event)"></ion-searchbar>
        </ion-col>
        <ion-col size="6" size-lg="3">
          <ion-item expand="block" class="estado">
            <ion-label>Estado</ion-label>
            <ion-select interface="popover" >
              <ion-select-option value="nes">Habilitado</ion-select-option>
              <ion-select-option value="n64">Deshabilitado</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col  size="6" size-lg="3">
          <ion-button expand="block" class="btn-new-item" (click)="iraCrear()">Nuevo <ion-icon name="add-circle" class="more-icon"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
  
      
        <app-card-list-admin class="card_col" [user_child]="item" *ngFor="let item of UserData?.users" (idUsers)="removeuser($event)"></app-card-list-admin>
      
   
      <app-paginador [paginas]="pages" [pagina]="currentpage" (number_page)="changepage_($event)"></app-paginador>
      
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>