<ion-content class="content-section">
  <div class="layout-section">
      <div class="container">
          <div class="row-actions-top">
              <div class="title-section-container">
                <div class="title-arrow">
                  <div class="left-arrow" (click)="volverCerti()">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                  
                  </div>
                  <div class="title">
                <h3 class="title-section">MIS CERTIFICADOS</h3>
                  <p class="subtitle-section">Revisa en esta sección lo cursos webinar y certificados ASEI</p>
                  </div>
              </div>
                  </div>
                </div>      
      </div>

      <ion-grid class="section-grid">
        <div class="courses">
          

          <div class="new-card">
            <div class="card-1 card-content">
              <div class="content-img">
                <img src="../../../../assets/img/certified1.png" alt="">
              </div>

              

                <!--<div class="admin-edit">
                  <div class="cloud-btn">
                    <ion-icon name="cloud-download"></ion-icon>
                  </div>
                </div>-->
            </div>
          </div>

          <div class="number-option">

            <div class="actions-page">
              <button class="">
                  <span>Descargar</span>
                  <ion-icon class="icon-btn" name="cloud-download"></ion-icon>
              </button>
            </div>  

            
          </div>

                   
        </div> 
      </ion-grid>
  </div>
  <app-footer></app-footer>
</ion-content>

