<ion-content class="content-section">
    <div class="layout-section">
        <div class="container">
            <div class="row-actions-top">
                <div class="title-section-container">
                    <h3 class="title-section">Documentos</h3>
                    <p class="subtitle-section">En esta sección podrás encontrar las distintas categorías de documentos que tenemos disponibles para ti.</p>
                </div>
            </div>
        </div>
        
        <ion-row>
            <ion-col size="12" size-lg="7" class="header-course left-header">
                <ion-searchbar placeholder="Buscar por nombre o palabra clave" (ionChange)="onSearchChange($event)"></ion-searchbar>
            </ion-col>
            <ion-col size="12" size-lg="5" class="header-categoria right-header">
                <ion-button *ngIf='rol == "admin"' expand="block" class="crear_categoria" (click)="iraCrear()">Nueva categoria<ion-icon name="add-circle" class="more-icon"></ion-icon></ion-button>
            </ion-col>
        </ion-row>

        <ion-grid class="section-grid">
            <div class="documents">
                <ion-row>
                    <ion-col size="12" size-md="6" size-lg="4" *ngFor="let item of DocumentsTiposData?.areas">
                        <app-card-documents-tipos [visible]="visible"  [documents_child]="item" (idDocumentsTipos)="openDocumentsTipos_($event)" (idDocumentsTiposE)="editDocumentsTipo_($event)" (idDocumentsTiposR)="removeTipo_($event)">
                        </app-card-documents-tipos>
                    </ion-col>
                </ion-row>

                <app-paginador [paginas]="pages" [pagina]="currentpage" (number_page)="changepage_($event)">
                </app-paginador>
            </div>
        </ion-grid>

    </div>
    <app-footer></app-footer>
</ion-content>