<ion-content class="content-section">
    <div class="layout-section">
        <div class="container">
            <div class="row-actions-top">
                <div class="title-section-container">
                    <div class="title-arrow">
                        <!-- Flecha a la izquierda -->
                        <div class="left-arrow" (click)="volverFerias()">
                          <ion-icon name="arrow-back-outline"></ion-icon>
                        </div>
        
                        <div class="title">
                          <h3 class="title-section color-news">Crear Feria</h3>
                          <p class="subtitle-section color-news">Completa la información correspondiente a la feria</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>

        <ion-grid class="section-grid">
            <form action="" class="inputs-create" (ngSubmit)="createFerias(fFerias)" #fFerias="ngForm">
                <div class="title">
                    <label for="title-note">Nombre de la feria</label>
                    <textarea name="titulo" id="title-note" [(ngModel)]="titulo"></textarea>
                </div>

                <div class="summary">
                    <label for="summary-note">Resumen</label>
                    <textarea name="resumen" id="summary-note" [(ngModel)]="resumen"></textarea>
                </div>

                <div class="text">
                    <label for="text-note">Contenido</label>
                    <textarea name="texto" id="text-note" [(ngModel)]="texto"></textarea>
                </div>

                <div class="link">
                    <label for="link-note">Enlaces</label>
                    <div class="link-content-btn">
                      <div class="link-input">
                        <ion-icon class="link-btn" name="link-outline"></ion-icon>
                        <textarea name="" id="link-note"></textarea>
                      </div>
            
                      <div class="delete-link">
                        <ion-icon name="trash"></ion-icon>
                      </div>
            
                      <div class="add-link">
                        <ion-icon name="add-outline"></ion-icon>
                      </div>
                    </div>
                </div>

                <div class="content-date-admin">
                    <div class="date">
                        <label for="date-note">Fecha de publicación</label>
                        <input type="date" name="fecha_publicacion" id="date-note" [(ngModel)]="fecha_publicacion">
                      </div>
                      <div class="date">
                        <label for="date-note-2">Hora de publicación</label>
                        <input type="time" name="hora_publicacion" id="date-note-2" [(ngModel)]="hora_publicacion">
                      </div>
                </div>
                <div class="content-date-admin">
                    <div class="date">
                        <label for="date-note">Fecha de inicio</label>
                        <input type="date" name="fecha_inicio" id="date-note" [(ngModel)]="fecha_inicio">
                    </div>

                    <div class="date">
                        <label for="date-note">Fecha de fin</label>
                        <input type="date" name="fecha_fin" id="date-note" [(ngModel)]="fecha_fin">
                    </div>
                </div>

                <div class="add-img">
                    <p>Selecciones imagen</p>
                    <div class="content-add-img">
                        <div class="content-img">
                            <img src="{{ imagestat }}" alt="">
                          </div>
                
                        <div class="image">
                            <p>Añade Imagen</p>
                            <input type="file" title="Añade imagen" accept="image/*" name="" id="" (change)="handleFileInput($event)">
                        </div>
                    </div>
                </div>
                

                <div class="link-active">
                    <label for="active-note">Vincular con el calendario</label>
                    <input type="checkbox" name="" id="active-note">
                    <label class="check-note" for="active-note"></label>
                </div>
                <div class="link-active">
                    <label for="active-note-2">Enviar notificaciones push</label>
                    <input type="checkbox" name="" id="active-note-2">
                    <label class="check-note" for="active-note-2"></label>
                </div>
                <div class="btn-create">
                    <div class="btn-return">
                        <!-- <button (click)="volverFerias()">Volver</button> -->
                        <input value="Volver" class="btn-return_" (click)="volverFerias()">
                    </div>

                    <div class="btn-add">
                        <button type="submit">Guardar</button>
                    </div>
                </div>
            </form>
        </ion-grid>
    </div>

</ion-content>