<ion-tab-bar class="tab-header" style="position: relative;">
  <div class="tab-header-info">
      <ion-text>
          <h1 class="title-tab-header">Bienvenido</h1>
      </ion-text>
      <ion-text>
          <p class="subtitle-tab-header">Encuentra información completa en la intranet ASEI</p>
      </ion-text>
  </div>
  <ion-grid class="tabs-list">
      <ion-row>
          <ion-col>
              <ion-tab-button type="icon-start">
                  <ion-icon class="no-margin icon-tab"></ion-icon>
                  <ion-label class="no-margin label-tab"></ion-label>
              </ion-tab-button>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-tab-bar>