<ion-content class="content-section">
    <div class="layout-section">
      <div class="container">
        <div class="row-actions-top">
            <div class="title-section-container">
              <div class="title-arrow">
                <!-- Flecha a la izquierda -->

                <div class="left-arrow">
                  <a (click)="volverNews()">
                  <ion-icon name="arrow-back-outline" ></ion-icon> </a>
                </div> 
  
                <div class="title">
                  <h3 class="title-section color-news">Noticias</h3>
                  <p class="subtitle-section color-news">Revisa aquí las noticias más destacadas de ASEI</p>
                </div>
              </div>
            </div>
        </div>
      </div>
  
      <ion-grid class="section-grid">
        <div class="info-anniversary">
          <div class="modal-anniversary">
            <div class="content-img">
                <img src="{{ URL + '/' + NewData?.imagenes[0].RUTA }}">
            </div>
    
            <div class="content-title-date">
                <h4 class="title-anniversary">{{ NewData?.titulo }}</h4>
    
                <div class="date">
                    <ion-icon class="icon-calendar" name="calendar-outline"></ion-icon>
                    <p>{{ NewData?.fecha_publicacion }}</p>
                </div>
  
                <div class="stars-btn">
                  <p (click)="openDialogCalificacion()">Calificación</p>
                  <ion-icon class="stars" name="star"></ion-icon>
                  <ion-icon class="stars" name="star"></ion-icon>
                  <ion-icon class="stars" name="star"></ion-icon>
                  <ion-icon class="stars" name="star"></ion-icon>
                  <ion-icon class="stars" name="star-outline"></ion-icon>
                  <p class="number-stars">4.5</p>
                </div>
            </div>

            <div [innerHTML]="NewData?.resumen">
              <h3>{{ NewData?.resumen}}</h3>
            </div>
            <div>
              <h3></h3>
            </div>
            
            <div [innerHTML]="NewData?.texto">
              <p>{{ NewData?.texto}}</p>
            </div>
              
            <div class="content-link">
              <div class="title">
                <p>Enlaces</p>
              </div>
  
              <div class="content-link-2">
                <div class="link-1 link-all">
                  <ion-icon class="icon-link" name="link-outline"></ion-icon>
                  <a target="_blank" href="http://www.newsmonitor.biz/Viewer/postview.aspx?PAU=4069881&CLIP=2936129">
                    http://www.newsmonitor.biz/Viewer/postview.aspx?PAU=4069881&CLIP=2936129
                  </a>
                </div>
  
                <div class="link-2 link-all">
                  <ion-icon class="icon-link" name="link-outline"></ion-icon>
                  <a target="_blank" href="https://www.facebook.com/">
                    https://www.facebook.com/
                  </a>
                </div>
              </div>
            </div>
            <div class="btn-return">
                <input type="button" value="Regresar" class="btn-return_" (click)="volverNews()">
              </div>
          </div>

          <app-dialog *ngIf="dialogCalificacion" [dialog]="dialogCalificacion" [width]="300" [height]="270" (closeDialogEv)="closeDialogCalificacion()">
            <div class="body-dialog">
              <div class="modal-stars">
                <p class="mainn">¿Te resultó útil la noticia?</p>
                <p>Califica</p>
      
      
                <rating [rate]="rate"
              readonly="false"
              size="default" 
              (rateChange)="onRateChange($event)"
              (ngModelChange)="onRateChange($event)">
                </rating>
      
                <!-- <div class="stars">
                  <ion-icon class="stars-btn" name="star"></ion-icon>
                  <ion-icon class="stars-btn" name="star"></ion-icon>
                  <ion-icon class="stars-btn" name="star"></ion-icon>
                  <ion-icon class="stars-btn" name="star"></ion-icon>
                  <ion-icon class="stars-btn" name="star-outline"></ion-icon>
                </div> -->
      
                <div class="content-btn">
                  <button>Guardar</button>
                </div>
              </div>
            </div>
          </app-dialog>


          <app-more-news [news_child]="NewsData" [title]="Title"></app-more-news>
        </div>
      </ion-grid>
    </div>
    <app-footer></app-footer>
  </ion-content>
  
  