<ion-item-divider>
  <ion-label>Basic Item Divider</ion-label>
</ion-item-divider>
<ion-item-divider color="secondary">
  <ion-label>Secondary Item Divider</ion-label>
</ion-item-divider>
<ion-item-divider>
  <ion-label>Basic Item Divider</ion-label>
</ion-item-divider>
<ion-item-divider>
  <ion-label>Basic Item Divider</ion-label>
</ion-item-divider>
<ion-item-divider>
  <ion-label>Basic Item Divider</ion-label>
</ion-item-divider>
<ion-item-divider>
  <ion-label>Basic Item Divider</ion-label>
</ion-item-divider>
<ion-item-divider>
  <ion-label>Basic Item Divider</ion-label>
</ion-item-divider>
<ion-item-divider>
  <ion-label>Basic Item Divider</ion-label>
</ion-item-divider>
<ion-item-divider>
  <ion-label>Basic Item Divider</ion-label>
</ion-item-divider>
<ion-item-divider>
  <ion-label>Basic Item Divider</ion-label>
</ion-item-divider>
<ion-item-divider>
  <ion-label>Basic Item Divider</ion-label>
</ion-item-divider>
<ion-item-divider>
  <ion-label>Basic Item Divider</ion-label>
</ion-item-divider>
<ion-item-divider>
  <ion-label>Basic Item Divider</ion-label>
</ion-item-divider>
<ion-item-divider>
  <ion-label>Basic Item Divider</ion-label>
</ion-item-divider>
<ion-item-divider>
  <ion-label>Basic Item Divider</ion-label>
</ion-item-divider>
