<ion-item-divider>
  <ion-label><ion-icon name="play-circle"></ion-icon> Basic Item Divider</ion-label>
</ion-item-divider>
<ion-item-divider color="secondary">
  <ion-label><ion-icon name="play-circle"></ion-icon> Secondary Item Divider</ion-label>
</ion-item-divider>
<ion-item-divider>
  <ion-label><ion-icon name="play-circle"></ion-icon> Basic Item Divider</ion-label>
</ion-item-divider>
<ion-item-divider>
  <ion-label><ion-icon name="play-circle"></ion-icon> Basic Item Divider</ion-label>
</ion-item-divider>
<ion-item-divider>
  <ion-label><ion-icon name="play-circle"></ion-icon> Basic Item Divider</ion-label>
</ion-item-divider>
<ion-item-divider>
  <ion-label><ion-icon name="play-circle"></ion-icon> Basic Item Divider</ion-label>
</ion-item-divider>
<ion-item-divider>
  <ion-label><ion-icon name="play-circle"></ion-icon> Basic Item Divider</ion-label>
</ion-item-divider>
<ion-item-divider>
  <ion-label><ion-icon name="play-circle"></ion-icon> Basic Item Divider</ion-label>
</ion-item-divider>
<ion-item-divider>
  <ion-label><ion-icon name="play-circle"></ion-icon> Basic Item Divider</ion-label>
</ion-item-divider>
<ion-item-divider>
  <ion-label><ion-icon name="play-circle"></ion-icon> Basic Item Divider</ion-label>
</ion-item-divider>
<ion-item-divider>
  <ion-label><ion-icon name="play-circle"></ion-icon> Basic Item Divider</ion-label>
</ion-item-divider>
<ion-item-divider>
  <ion-label><ion-icon name="play-circle"></ion-icon> Basic Item Divider</ion-label>
</ion-item-divider>
<ion-item-divider>
  <ion-label><ion-icon name="play-circle"></ion-icon> Basic Item Divider</ion-label>
</ion-item-divider>
<ion-item-divider>
  <ion-label><ion-icon name="play-circle"></ion-icon> Basic Item Divider</ion-label>
</ion-item-divider>
<ion-item-divider>
  <ion-label><ion-icon name="play-circle"></ion-icon> Basic Item Divider</ion-label>
</ion-item-divider>
