<ion-content class="content-section">
  <div class="layout-section">
    <div class="container">
        <div class="row-actions-top">
          <div class="title-section-container">
            <div class="title-arrow">
              <!-- Flecha a la izquierda -->
              <div class="left-arrow" (click)="volverAnniversary()">
                <ion-icon name="arrow-back-outline"></ion-icon>
              </div>

              <div class="title">
                <h3 class="title-section color-news">Editar Aniversario</h3>
                <p class="subtitle-section color-news">Completa la información correspondiente al aniversario</p>
              </div>
            </div>
          </div>
        </div>
    </div>

    <ion-grid class="section-grid">
      <form action="" class="inputs-create" (ngSubmit)="editAniversario(fAniversario)" #fAniversario="ngForm">
        <div class="title">
          <label for="title-note">Título del aniversario</label>
          <textarea name="titulo" id="title-note" [(ngModel)]="titulo"></textarea>
        </div>

        <div class="summary">
          <label for="summary-note">Resumen del aniversario </label>
          <textarea name="resumen" id="summary-note" [(ngModel)]="resumen"></textarea>
        </div>

        <div class="text">
          <label for="text-note">Texto del aniversario</label>
          <textarea name="texto" id="text-note" [(ngModel)]="texto"></textarea>
        </div>

        <!-- <div class="link">
          <label for="link-note">Link de la nota</label>
          <textarea name="" id="link-note"></textarea>
        </div> -->

        <div class="link">
          <label for="link-note">Enlaces</label>
          <div class="link-content-btn">
            <div class="link-input">
              <ion-icon class="link-btn" name="link-outline"></ion-icon>
              <input class="link-class" type="text" name="link" [(ngModel)]="link">
              <!-- <textarea name="" id="link-note"></textarea> -->
            </div>
  
            <div class="add-link" style="margin: 0 0.5em;" (click)="addlink();">
              <ion-icon name="add-outline"></ion-icon>
            </div>
          </div>
  
          <div class="link-content-btn" *ngFor="let item of links" style="margin-top: 10px;">
            <div class="link-input">
              <ion-icon class="link-btn" name="link-outline"></ion-icon>
              <input type="text" id="" class="link-class" disabled style="background:#dfdfdf;" value="{{item}}">
            </div>
            <div class="delete-link" (click)="removelink(item);">
              <ion-icon name="trash"></ion-icon>
            </div>
          </div>
          
        </div>

        <div class="content-date-admin">
            <div class="date">
                <label for="date-note">Fecha de publicación</label>
                <input type="date" name="fecha_publicacion" id="date-note" [(ngModel)]="fecha_publicacion">
            </div>
            <div class="date">
              <label for="date-note-2">Hora de publicación</label>
              <input type="time" name="hora_publicacion" id="date-note-2" [(ngModel)]="hora_publicacion">
            </div>
        </div>
        <div class="content-date-admin">
            <div class="date">
              <label for="date-note">Fecha de inicio</label>
              <input type="date" name="fecha_inicio" id="date-note" [(ngModel)]="fecha_inicio">
          </div>
            <div class="date">
                <label for="date-hour">Hora de inicio</label>
                <input type="time" name="hora_inicio" id="date-hour" [(ngModel)]="hora_inicio">
            </div>
        </div>

        <div class="image">
          <p>Añade Imagen</p>
          <input type="file" title="Añade imagen" accept="image/*" name="" id="" (change)="handleFileInput($event)">
        </div>

        <div class="content-img">
          <img src="{{ imagestat }}" alt="">
        </div>

        <app-send-notification (toggle)="notificacion($event);"></app-send-notification>

        <!-- <div class="link-active">
            <label for="active-note">Esta publicación se vinculará con el calendario</label>
            <input type="checkbox" name="" id="active-note">
            <label class="check-note" for="active-note"></label>
        </div> -->
        
        <div class="btn-create">
          <div class="btn-return">
            <!-- <button (click)="volverFerias()">Volver</button> -->
            <input value="Volver" class="btn-return_" (click)="volverAnniversary()">
          </div>
          <div class="btn-add">
            <button type="submit">Guardar</button>
          </div>
        </div>
      </form>
    </ion-grid>
  </div>
</ion-content>

