<ion-content class="content-section">
  <app-navigation-tabs></app-navigation-tabs>
  <div class="layout-section">
    <div class="container">
        <div class="row-actions-top">
            <div class="title-section-container">
                <h3 class="title-section color-news">Ferias Recientes</h3>
                <p class="subtitle-section color-news">Revisa aqui las noticias mas destacadas de ASEI</p>
            </div>
        </div>
    </div>

    <ion-grid class="section-grid">
      <div class="news-grid">
        <div class="date-year">
          <h3>Enero 2021</h3>
        </div>
      
        <div class="slider-img">
          <div class="img-slider">
            <img src="../../../../assets/img/fairs-img.png">

            <div class="arrow-left">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </div>

            <div class="arrow-right">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </div>

            <div class="circle-slider">
              <ion-icon class="btn-slider" name="ellipse"></ion-icon>
              <ion-icon class="btn-slider" name="ellipse"></ion-icon>
              <ion-icon class="btn-slider" name="ellipse"></ion-icon>
              <ion-icon class="btn-slider" name="ellipse"></ion-icon>
              <ion-icon class="btn-slider" name="ellipse"></ion-icon>
            </div>
          </div>

          <div class="content-text">
            <div class="title-text">
              <div class="title">
                  <h5>Revista Construir: "ASEI: Exitosa Feria Inmobiliaria Online".</h5>
              </div>
              
              <div class="date-text">
                  <p>01 de Enero 2021</p>
              </div>
            </div>
                
            <p>Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones de 
            tipografías o de borradores de diseño para probar el diseño visual antes de insertar el 
            texto final. Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones 
            de tipografías o de borradores de diseño para probar el diseño visual antes de insertar el texto final.</p>
    
            <div class="btn-star">
              <button>Ver nota</button>
    
              <div class="stars">
                <ion-icon class="star-btn" name="star"></ion-icon>
                <ion-icon class="star-btn" name="star"></ion-icon>
                <ion-icon class="star-btn" name="star"></ion-icon>
                <ion-icon class="star-btn" name="star"></ion-icon>
                <ion-icon class="star-btn" name="star-outline"></ion-icon>
              </div>
            </div>
          </div>
        </div>

        <div class="recent-news">
          <h3>Noticias Recientes</h3>
        </div>

        <div class="input-search">
          <input type="search" name="" id="">
          <button>
            <ion-icon class="search-btn" name="search-outline"></ion-icon>
          </button>
        </div>

        <div class="cards-news">
          <div class="card-1 card-all">
            <div class="img-content">
              <img class="img-mobil" src="../../../../assets/img/fair-card.png">
            </div>

            <div class="text-content">
              <div class="text">
                <div class="date">
                  28 de Septiembre 2020
                </div>
  
                <h5>Revista Construir: "ASEI: Exitosa Feria Inmobiliaria Online".</h5>
  
                <p>Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones<span class="none-web">...</span><span class="none-mobile">de tipografías o de borradores de diseño para probar el diseño visual antes de insertar el texto final.</span></p>
              </div>
              
              <div class="btn-star">
                <button>Ver nota</button>

                <div class="stars">
                  <ion-icon class="star-btn" name="star"></ion-icon>
                  <ion-icon class="star-btn" name="star"></ion-icon>
                  <ion-icon class="star-btn" name="star"></ion-icon>
                  <ion-icon class="star-btn" name="star"></ion-icon>
                  <ion-icon class="star-btn" name="star-outline"></ion-icon>
                </div>
              </div>
            </div>
          </div>

          <div class="card-2 card-all">
            <div class="img-content">
              <img class="img-mobil" src="../../../../assets/img/fair-card.png">
            </div>

            <div class="text-content">
              <div class="text">
                <div class="date">
                  28 de Septiembre 2020
                </div>
  
                <h5>Revista Construir: "ASEI: Exitosa Feria Inmobiliaria Online".</h5>
  
                <p>Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones<span class="none-web">...</span><span class="none-mobile">de tipografías o de borradores de diseño para probar el diseño visual antes de insertar el texto final.</span></p>
              </div>
              
              <div class="btn-star">
                <button>Ver nota</button>

                <div class="stars">
                  <ion-icon class="star-btn" name="star"></ion-icon>
                  <ion-icon class="star-btn" name="star"></ion-icon>
                  <ion-icon class="star-btn" name="star"></ion-icon>
                  <ion-icon class="star-btn" name="star"></ion-icon>
                  <ion-icon class="star-btn" name="star-outline"></ion-icon>
                </div>
              </div>
            </div>
          </div>

          <div class="card-3 card-all">
            <div class="img-content">
              <img class="img-mobil" src="../../../../assets/img/fair-card.png">
            </div>

            <div class="text-content">
              <div class="text">
                <div class="date">
                  28 de Septiembre 2020
                </div>
  
                <h5>Revista Construir: "ASEI: Exitosa Feria Inmobiliaria Online".</h5>
  
                <p>Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones<span class="none-web">...</span><span class="none-mobile">de tipografías o de borradores de diseño para probar el diseño visual antes de insertar el texto final.</span></p>
              </div>
              
              <div class="btn-star">
                <button>Ver nota</button>

                <div class="stars">
                  <ion-icon class="star-btn" name="star"></ion-icon>
                  <ion-icon class="star-btn" name="star"></ion-icon>
                  <ion-icon class="star-btn" name="star"></ion-icon>
                  <ion-icon class="star-btn" name="star"></ion-icon>
                  <ion-icon class="star-btn" name="star-outline"></ion-icon>
                </div>
              </div>
            </div>
          </div>

          <div class="card-4 card-all">
            <div class="img-content">
              <img class="img-mobil" src="../../../../assets/img/fair-card.png">
            </div>

            <div class="text-content">
              <div class="text">
                <div class="date">
                  28 de Septiembre 2020
                </div>
  
                <h5>Revista Construir: "ASEI: Exitosa Feria Inmobiliaria Online".</h5>
  
                <p>Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones<span class="none-web">...</span><span class="none-mobile">de tipografías o de borradores de diseño para probar el diseño visual antes de insertar el texto final.</span></p>
              </div>
              
              <div class="btn-star">
                <button>Ver nota</button>

                <div class="stars">
                  <ion-icon class="star-btn" name="star"></ion-icon>
                  <ion-icon class="star-btn" name="star"></ion-icon>
                  <ion-icon class="star-btn" name="star"></ion-icon>
                  <ion-icon class="star-btn" name="star"></ion-icon>
                  <ion-icon class="star-btn" name="star-outline"></ion-icon>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="number-option">
          <div class="left-option">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </div>

          <div class="numbers-option">
            <div class="number-one number-all">
              <p>1</p>
            </div>
            <div class="number-two number-all">
              <p>2</p>
            </div>
            <div class="number-three number-all">
              <p>3</p>
            </div>
            <div class="number-four number-all">
              <p>4</p>
            </div>
            <div class="number-five number-all">
              <p>5</p>
            </div>
            <div class="number-six number-all">
              <p>6</p>
            </div>
          </div>

          <div class="right-option">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>
        </div>
      </div>
    </ion-grid>
  </div>
  <app-footer></app-footer>
</ion-content>

