<ion-content class="content-section">
    <app-navigation-tabs></app-navigation-tabs>
    <div class="layout-section">
        <div class="container">
            <div class="row-actions-top">
                <div class="title-section-container">
                    <h3 class="title-section color-news">Ferias Publicadas</h3>
                    <p class="subtitle-section color-news">Revisa aqui las ferias mas destacadas de ASEI</p>
                </div>
            </div>

            <!-- Admin -->
            <div class="actions-page">
                <button class="btn-new-item" (click)="createDialogFerias()">
              <span>Crear</span>
              <ion-icon class="icon-btn" name="add"></ion-icon>
          </button>
            </div>
        </div>


        <ion-grid class="section-grid">
            <div class="news-grid">
                <!-- <div class="date-year">
                    <h3>Enero 2021</h3>
                </div> -->

                <app-card-slider></app-card-slider>

               

                <app-buscador (buscatxt)="search_($event)"></app-buscador>        

                 <div class="recent-news">
                    <h3></h3>
                </div>

                <div class="cards-news">
                  <app-card-items *ngFor="let item of feriasData?.notes" [news_child]="item" (idFerias)="openFerias_($event)" (idFeriasE)="editFerias_($event)" (idFeriasR)="removeFerias_($event)"> 
                  </app-card-items>
                </div>
                
                <app-paginador [paginas]="pages" [pagina]="currentpage" (number_page)="changepage_($event)"></app-paginador>
        

            </div>
        </ion-grid>

       
    </div>
    <app-footer></app-footer>
</ion-content>