//Footer app
.footer-app {
    height: 74px;
    background: #24344D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;

    .social-links {
        display: flex;
        .social-link {
            width: 40px;
            height: 40px;
            color: #fff;
            border-radius: 50%;
            background: #DF8708;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 .5em;
            .social-icon {
                font-size: 20px;
            }
        }
        .social-link:first-of-type {
            margin-left: 0 !important;
        }
    }
    .copyright {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        span {
            color: #fff;
            font-family: Calibri;
            font-style: normal;
            font-weight: 300;
            font-size: 15px;
        }
    }
    @media screen and (max-width: 700px) {
        padding: 0 2em;
    }
    @media screen and (max-width: 640px) {
        height: auto;
        padding: 1em 1.5em;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        .copyright {
            align-items: center;
            padding: .9em 0 0 0;
            span {
                text-align: center;
            }
        }
    }
    @media screen and (max-width: 600px) {
        padding: 1em 1.5em;
    }
    @media screen and (max-width: 500px) {
        padding: 1em 1em;
    }
    @media screen and (max-width: 410px) {
        padding: 1em .88em;
    }
}