<ion-content class="content-section">
  <div class="layout-section">
      <div class="container">
          <div class="row-actions-top">
              <div class="title-section-container">
                <div class="title-arrow">
                  <!-- Flecha a la izquierda -->
                  <div class="left-arrow" (click)="volverWebinars()">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                  </div>
  
                  <div class="title">
                    <h3 class="title-section color-news">Webinars</h3>
                    <p class="subtitle-section color-news">Todos los webinars de ASEI</p>
                  </div>
                </div>
              </div>
          </div>

          <!-- Admin -->
          <div class="actions-page no-web">
            <button class="btn-new-item" (click)="iraCrear()">
                <span>Nuevo Webinar</span>
                <ion-icon class="icon-btn" name="add"></ion-icon>
            </button>
          </div>   
      </div>

      <ion-grid class="section-grid">
        <div class="courses">
          <div class="news-courses">
            <div class="content-search">
              <!-- no-user es para admin, user es para usuario -->
              <div class="input-search no-user">
                <input type="search" name="" id="" placeholder="Buscar webinar por nombre">
                <ion-icon class="search-btn" name="search-outline"></ion-icon>
              </div>
    
    
              <div class="actions-page no-mobil">
                <button class="btn-new-item" (click)="iraCrear()">
                    <span>Nuevo Webinar</span>
                    <ion-icon class="icon-btn" name="add-circle"></ion-icon>
                </button>
              </div>   
            </div>

          </div>

          <ion-grid class="section-grid">
            <ion-row>
                <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12" *ngFor="let webinar of webinars_data">
                  <div class="new-card">
                  <div class="card-1 card-content">
                    <div class="content-img">
                      <img src="{{URL_BASE}}/{{webinar.imagenes[0].RUTA}}" alt="">
                    </div>
      
                    <div class="content-info">
                      <h5>{{webinar.titulo}}</h5>
      
                      <div class="info-description">
                        <p>Dictado por {{webinar.capacitadores[0].nombre}}</p>
      
                        <!-- Admin -->
                         <div class="admin-edit" >
                          <div class="pencil-btn" (click)="updateWebinar(webinar)">
                            <ion-icon name="pencil-outline"></ion-icon>
                          </div>
      
                          <div class="delete-btn" (click)="deleteWebinar(webinar)">
                            <ion-icon name="trash"></ion-icon>
                          </div>
                        </div> 
                      </div>
                    </div>
                  </div>
                </div>
                    <!-- <app-stat-card (editItemEv)="editStat($event)" (deleteItemEv)="removeStat($event)" [card_child]="statistics" (imgFile)="donwloadstat_($event)"></app-stat-card> -->
                </ion-col>
            </ion-row>
        </ion-grid>

          <app-paginador [paginas]="pages" [pagina]="currentpage" (number_page)="changepage_($event)"></app-paginador>

        </div> 
      </ion-grid>
  </div>
  <app-footer></app-footer>
</ion-content>