.item-avatar  {     
    width: 80px !important;  
    height : 80px !important;  
    max-width: 100px !important;  //any size
    max-height: 100px !important; //any size 
    }

.item-list{
    --border-radius: 10px;
    padding: 0px;
}

