ion-row{
    background: #f5f5f5;
}
.header-course{
    padding-left: 80px;
    padding-right: 80px;
}
.crear_curso{
    --border-radius: 10px;
    --background: #24344D;
}
.more-icon{
    margin-left: 10px;
}
@media (max-width: 600px) {
    .header-course{
        padding-left: 20px;
        padding-right: 20px;
    }
}
.left-header{
    text-align: left;
}
.right-header{
    text-align: right;
}
.row-actions-top .title-section-container .title-arrow .left-arrow {
    display: flex;
    align-items: flex-start;
    font-size: 1.4em;
    color: #828282;
}
.row-actions-top .title-section-container .title-arrow {
    display: flex;
    align-items: center;
}
.row-actions-top .title-section-container .title-arrow .title {
    margin-left: 0.5em;
}

.row-actions-top .title-section-container .title-arrow .title p {
    font-family: Calibri;
    font-weight: 300;
    color: #828282;
    font-style: italic;
}