<ion-content class="content-section">
  <app-navigation-tabs></app-navigation-tabs>
  
  <div class="layout-section">
    <div class="courses">
      <div class="container">
          <div class="row-actions-top">
              <div class="title-section-container">
                  <h3 class="title-section">BANDEJA DE ENTRADA</h3>
                  <p class="subtitle-section">Gestiona la información de los administradores de la intranet ASEI</p>
              </div>
          </div>
      </div>

      <ion-grid class="section-grid">
        <div class="courses">
          <div class="news-courses">
            <div class="search-courses">
              <div class="input-search no-user">
                <input type="search" name="" id="" class="busca_noti" placeholder="Buscar por nombre o palabra clave" (keyup.enter)="search_notification()">
                <ion-icon class="search-btn" name="search-outline"></ion-icon>
              </div>
              
            </div>
          </div>
        </div> 
      </ion-grid>

    <ion-card *ngFor="let notification of notifications?.content">
      <ion-item (click)="openpush(notification.destino)">
        <div class="card-photo"  >
          <div class="content-img">
            <img src="../../../../../assets/img/logo-asei.png" alt="">
          </div>
        </div>
        <div class="card-info">
          <ion-label class="name">{{notification.titulo}}</ion-label>
          <ion-label>{{notification.descripcion}}</ion-label>
        </div>
        <div class="card-arrow ion-activated" href="#" >
          <label>{{notification.fecha | date: 'd \'de\' MMMM \'del\' yyyy' }}</label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </ion-item>    
    </ion-card>
    
    <app-paginador [paginas]="pages" [pagina]="currentpage" (number_page)="changepage_($event)"></app-paginador>
  </div>
  </div>
  <app-footer></app-footer>
</ion-content>