.title{
    position: relative;
    background: #DF8708;
    width: 80%;
    padding: 5px;
    padding-left: 15px;
    color: white;
}
ion-card-title{
    color: white;
}
.title::after{
    position: absolute;
    content: "";
    top: 5px;
    width: 24px;
    height: 24px;
    background: #DF8708;
    right: -12px;
    transform: rotate(45deg);
}
.toolbarcard{
    padding-right: 6px;
    height: 50px;
}
.card_img{
    max-height: 250px;
    height: 250px;
    width: 100%;
}

.t-pts{
    cursor:pointer;
}

ion-card-content, ion-card-title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
}