<ion-card class="md hydrated card-course">
    <ion-toolbar class="toolbarcard">
        <ion-buttons class="t-pts" slot="end" (click)="presentPopover($event);">
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
    <img class="card_img" src="{{ URL + '/' + card_child?.image }}">
    <ion-card-header class="ion-inherit-color md hydrated title">
        <ion-card-title role="heading" aria-level="2" class="ion-inherit-color md hydrated">{{ card_child?.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="md card-content-md hydrated">
        {{ card_child.description | slice:0:193 }}
    </ion-card-content>
</ion-card>