<div class="notes-anniversary">
  <div class="title-content">
    <h3>{{ title }}</h3>
  </div>

  <div class="cards-notes">

    <div class="card-1 card-note" *ngFor="let item of news_child" routerLink="/tabs/infcenter/{{section}}/info/{{ item?.ID_NO }}">
      <div class="img-content">
        <img class="notes-img" src="{{ URL + '/' + item?.imagenes[0].RUTA }}">
      </div>

      <div class="text-content">
        <div class="date">
          <p>Dia : {{ item?.fecha_publicacion }}</p>
        </div>

        <h5>{{ item?.resumen | slice:0:30}}</h5>
      </div>
    </div>
  </div>
</div>