<div class="notes-anniversary">
  <div class="title-content">
    <h3>{{ title }}</h3>

    <!-- <div class="arrows">
      <div class="left-arrow">
        <ion-icon class="icon-btn" name="chevron-back-outline"></ion-icon>
      </div>

      <div class="right-arrow">
        <ion-icon class="icon-btn" name="chevron-forward-outline"></ion-icon>
      </div>
    </div> -->
    
  </div>

  <div class="cards-notes">

    <div class="card-1 card-note" *ngFor="let item of news_child">
      <div class="img-content">
        <img class="notes-img" src="{{ URL + '/' + item?.imagenes[0].RUTA }}">
      </div>

      <div class="text-content">
        <div class="date">
          <p>Dia : {{ item?.fecha_publicacion }}</p>
        </div>

        <h5>{{ item?.resumen | slice:0:30}}</h5>
      </div>
    </div>

    <!-- <div class="card-2 card-note">
      <div class="img-content">
        <img class="notes-img" src="../../../../../assets/img/notes-news.png">
      </div>

      <div class="text-content">
        <div class="date">
          <p>Dia : 8 de Septiembre 2020</p>
        </div>

        <h5>Industria inmobiliaria del Perú sale adelante con descuentos y promociones</h5>
      </div>
    </div>

    <div class="card-3 card-note">
      <div class="img-content">
        <img class="notes-img" src="../../../../../assets/img/notes-news.png">
      </div>

      <div class="text-content">
        <div class="date">
          <p>Dia : 8 de Septiembre 2020</p>
        </div>

        <h5>Industria inmobiliaria del Perú sale adelante con descuentos y promociones</h5>
      </div>
    </div>

    <div class="card-4 card-note">
      <div class="img-content">
        <img class="notes-img" src="../../../../../assets/img/notes-news.png">
      </div>

      <div class="text-content">
        <div class="date">
          <p>Dia : 8 de Septiembre 2020</p>
        </div>

        <h5>Industria inmobiliaria del Perú sale adelante con descuentos y promociones</h5>
      </div>
    </div> -->

  </div>
</div>