ion-button {
    --padding-end: 8px;
    --padding-start: 8px;
    --box-shadow: 0px;
}

.btn-create {
    border: 1px solid #24344D;
    border-radius: 5px;
}

.card_img {
    max-height: 250px;
    height: 250px;
    width: 100%;
}

.stars {
    color: #DF8708
}

.resume-course{
    max-height: 75px;
    height: 75px;
    width: 100%;
}