<!-- <div class="card-1 card-all">
    <div class="img-content">
        <img class="img-web" src="{{ URL + '/' + news_child.imagenes[0].RUTA }}">
    </div>

    <div class="text-content">
        <div class="text">
            <div class="date">
                <ion-icon class="icon-calendar" name="calendar-clear-outline"></ion-icon>
                <p>Publicado : {{ news_child.fecha_publicacion }}</p>
            </div>
        </div>
        <div class="content-title">
            <h5 (click)="openNote(news_child.ID_NO)">{{ news_child.titulo }}</h5>
            <p class="none-mobile">{{ news_child.resumen | slice:0:193 }}</p>
        </div>
        <div class="btn-like">
            <div class="admin-edit">
                <div class="edit" (click)="editNew(news_child.ID_NO)">
                    <ion-icon name="pencil-outline"></ion-icon>
                </div>

                <div class="delete" (click)="removeNew(news_child.ID_NO)">
                    <ion-icon name="trash"></ion-icon>
                </div>
            </div>
        </div>

        <div class="btn-like">

            <div class="stars-btn">
                <p>Calificación</p>
		<ion-icon class="stars" name="{{(  1 <= news_child.promedio ) ? 'star': 'star-outline'}}"></ion-icon>
                <ion-icon class="stars" name="{{(  2 <= news_child.promedio ) ? 'star': 'star-outline'}}"></ion-icon>
                <ion-icon class="stars" name="{{(  3 <= news_child.promedio ) ? 'star': 'star-outline'}}"></ion-icon>
                <ion-icon class="stars" name="{{(  4 <= news_child.promedio ) ? 'star': 'star-outline'}}"></ion-icon>
                <ion-icon class="stars" name="{{(  5 <= news_child.promedio ) ? 'star': 'star-outline'}}"></ion-icon>
                <p class="number-stars"> {{ news_child.promedio}} </p>
            </div>
        </div>
    </div>

</div> -->

<ion-card class="md hydrated card-course">
    <img class="card_img" src="{{ URL + '/' + news_child.imagenes[0].RUTA }}">
    <ion-card-header class="ion-inherit-color md hydrated">
        <ion-card-subtitle>
            <ion-icon name="calendar-clear-outline"></ion-icon>
            Publicado : {{ news_child.fecha_publicacion }}
        </ion-card-subtitle>
        <ion-card-title role="heading" aria-level="2" class="ion-inherit-color md hydrated" (click)="openNote(news_child.ID_NO)">{{ news_child.titulo }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="md card-content-md hydrated">
        <div class="resume-course">
        {{ news_child.resumen | slice:0:193 }}
        </div>
        <p>
            <ion-button *ngIf='rol == "admin"' color="light" class="btn-create" (click)="editNew(news_child.ID_NO)">
                <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 15.2501V19.0001H3.75L14.81 7.94006L11.06 4.19006L0 15.2501ZM17.71 5.04006C18.1 4.65006 18.1 4.02006 17.71 3.63006L15.37 1.29006C14.98 0.900059 14.35 0.900059 13.96 1.29006L12.13 3.12006L15.88 6.87006L17.71 5.04006Z" fill="#24344D"/>
                </svg>
            </ion-button>
            <ion-button *ngIf='rol == "admin"' color="danger" (click)="removeNew(news_child.ID_NO)">
                <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
        </p>
        <hr>
        <div class="btn-like">

            <div class="stars-btn" *ngIf="rol=='admin'">
                <p>Calificación.

                    <ion-icon class="stars" name="{{(  1 <= news_child.promedio ) ? 'star': 'star-outline'}}"></ion-icon>
                    <ion-icon class="stars" name="{{(  2 <= news_child.promedio ) ? 'star': 'star-outline'}}"></ion-icon>
                    <ion-icon class="stars" name="{{(  3 <= news_child.promedio ) ? 'star': 'star-outline'}}"></ion-icon>
                    <ion-icon class="stars" name="{{(  4 <= news_child.promedio ) ? 'star': 'star-outline'}}"></ion-icon>
                    <ion-icon class="stars" name="{{(  5 <= news_child.promedio ) ? 'star': 'star-outline'}}"></ion-icon>

                    {{ news_child.promedio}}



                </p>
            </div>
            <div class="stars-btn" *ngIf="rol !='admin'">
                <p (click)="dialogCalification(news_child.ID_NO)">Calificación.

                    <ion-icon class="stars" name="{{(  1 <= news_child.promedio ) ? 'star': 'star-outline'}}"></ion-icon>
                    <ion-icon class="stars" name="{{(  2 <= news_child.promedio ) ? 'star': 'star-outline'}}"></ion-icon>
                    <ion-icon class="stars" name="{{(  3 <= news_child.promedio ) ? 'star': 'star-outline'}}"></ion-icon>
                    <ion-icon class="stars" name="{{(  4 <= news_child.promedio ) ? 'star': 'star-outline'}}"></ion-icon>
                    <ion-icon class="stars" name="{{(  5 <= news_child.promedio ) ? 'star': 'star-outline'}}"></ion-icon>

                    {{ news_child.promedio}}



                </p>
            </div>


        </div>
    </ion-card-content>
</ion-card>