<div class="card-1 card-all">
    <div class="img-content">
        <img class="img-web" src="{{ URL + '/' + news_child.imagenes[0].RUTA }}">
    </div>

    <div class="text-content">
        <div class="text">
            <div class="date">
                <ion-icon class="icon-calendar" name="calendar-clear-outline"></ion-icon>
                <p>Publicado : {{ news_child.fecha_publicacion }}</p>
            </div>
        </div>
        <div class="content-title">
            <h5 (click)="openNote(news_child.ID_NO)">{{ news_child.titulo }}</h5>
            <p class="none-mobile">{{ news_child.resumen | slice:0:193 }}</p>
        </div>
        <div class="btn-like">
            <div class="admin-edit">
                <div class="edit" (click)="editNew(news_child.ID_NO)">
                    <ion-icon name="pencil-outline"></ion-icon>
                </div>

                <div class="delete" (click)="removeNew(news_child.ID_NO)">
                    <ion-icon name="trash"></ion-icon>
                </div>
            </div>
        </div>

        <!-- Admin -->

        <div class="btn-like">

            <div class="stars-btn">
                <p>Calificación</p>
                <ion-icon class="stars" name="star"></ion-icon>
                <ion-icon class="stars" name="star"></ion-icon>
                <ion-icon class="stars" name="star"></ion-icon>
                <ion-icon class="stars" name="star"></ion-icon>
                <ion-icon class="stars" name="star-outline"></ion-icon>
                <p class="number-stars">4.5</p>
            </div>
        </div>
    </div>

</div>

<!-- <div class="card-2 card-all">
  <div class="img-content">
    <img class="img-web" src="../../../../assets/img/new-card.png">
    <img class="img-mobil" src="../../../../assets/img/new-card-2.png">
  </div>

  <div class="text-content">
    <div class="text">
      <div class="date">
        28 de Septiembre 2020
      </div>

      <h5>La apuesta inmobiliaria de quienes cancelaron viajes por vacaciones debido al covid 19</h5>

      <p class="none-mobile">Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones de tipografías o de borradores de diseño para probar el diseño visual antes de insertar el texto final.</p>
    </div>
    
    <div class="btn-like">
      <button class="none-mobile">Ver nota</button>

      <div class="admin-edit">
        <div class="edit">
          <ion-icon name="pencil-outline"></ion-icon>
        </div>

        <div class="delete">
          <ion-icon name="trash"></ion-icon>
        </div>
      </div>

      <div class="like-btn">
        <ion-icon name="thumbs-up"></ion-icon>

        <p class="points">0</p>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="card-3 card-all">
  <div class="img-content">
    <img class="img-web" src="../../../../assets/img/new-card.png">
    <img class="img-mobil" src="../../../../assets/img/new-card-2.png">
  </div>

  <div class="text-content">
    <div class="text">
      <div class="date">
        28 de Septiembre 2020
      </div>

      <h5>La apuesta inmobiliaria de quienes cancelaron viajes por vacaciones debido al covid 19</h5>

      <p class="none-mobile">Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones de tipografías o de borradores de diseño para probar el diseño visual antes de insertar el texto final.</p>
    </div>
    
    <div class="btn-like">
      <button class="none-mobile">Ver nota</button>

      <div class="admin-edit">
        <div class="edit">
          <ion-icon name="pencil-outline"></ion-icon>
        </div>

        <div class="delete">
          <ion-icon name="trash"></ion-icon>
        </div>
      </div>

      <div class="like-btn"> 
        <ion-icon name="thumbs-up"></ion-icon>

        <p class="points">0</p>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="card-4 card-all">
  <div class="img-content">
    <img class="img-web" src="../../../../assets/img/new-card.png">
    <img class="img-mobil" src="../../../../assets/img/new-card-2.png">
  </div>

  <div class="text-content">
    <div class="text">
      <div class="date">
        28 de Septiembre 2020
      </div>

      <h5>La apuesta inmobiliaria de quienes cancelaron viajes por vacaciones debido al covid 19</h5>

      <p class="none-mobile">Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones de tipografías o de borradores de diseño para probar el diseño visual antes de insertar el texto final.</p>
    </div>
    
    <div class="btn-like">
      <button class="none-mobile">Ver nota</button>

      <div class="admin-edit">
        <div class="edit">
          <ion-icon name="pencil-outline"></ion-icon>
        </div>

        <div class="delete">
          <ion-icon name="trash"></ion-icon>
        </div>
      </div>

      <div class="like-btn">
        <ion-icon name="thumbs-up"></ion-icon>

        <p class="points">0</p>
      </div>
    </div>
  </div>
</div> -->