<ion-content class="content-section">
  <div class="layout-section">
      <div class="container">
          <div class="row-actions-top">
              <div class="title-section-container">
                  <h3 class="title-section">BOLETAS DE PAGO</h3>
                  <p class="subtitle-section">Encuentra aquí las boletas de pago categorizadas por meses</p>
              </div>
          </div>

      </div>

      <ion-grid class="section-grid">
        <div class="courses">
          <div class="news-courses">
            <div class="search-courses">
              <div class="input-search no-user">
                <input type="search" name="" id="" placeholder="Buscar por nombre">
                <ion-icon class="search-btn" name="search-outline"></ion-icon>
              </div>
            <!-- <div class="options2">
              <select name="example" placeholder="Estado">
                <option value="">Tipo de documento</option>
                <option value="A">Pdf</option>
                <option value="B">Doc</option>
                <option value="B">Excel</option>
              </select>
    
               
              <div class="actions-page no-mobil">
                <button class="btn-new-item">
                    <span>Nueva</span>
                    <ion-icon class="icon-btn" name="add-circle"></ion-icon>
                </button>
              </div>  
            </div> -->
            </div>
          </div>
        </div> 

      </ion-grid>

      <ion-grid class="section-grid">
        <div class="courses">
          

          <div class="new-card">
            
            <div class="card-1 card-content">
              

              <div class="content-info">
                <h5> Enero 2021 </h5>

                <div class="info-description">
                  <p>121 documentos</p>

                  
                </div>

                
              </div>
              
            </div>

            <div class="card-1 card-content">
              

              <div class="content-info">
                <h5> Febrero 2021 </h5>

                <div class="info-description">
                  <p>121 documentos</p>

                  
                </div>

                
              </div>
              
            </div>
            
            <div class="card-1 card-content">
              

              <div class="content-info">
                <h5> Marzo 2021 </h5>

                <div class="info-description">
                  <p>121 documentos</p>

                  
                </div>

                
              </div>
              
            </div>

            <div class="card-1 card-content">
              

              <div class="content-info">
                <h5> Abril 2021 </h5>

                <div class="info-description">
                  <p>121 documentos</p>

                  
                </div>

                
              </div>
              
            </div>

           

            <div class="card-1 card-content">
              

              <div class="content-info">
                <h5> Mayo 2021 </h5>

                <div class="info-description">
                  <p>121 documentos</p>

                  
                </div>

                
              </div>
              
            </div>

            <div class="card-1 card-content">
              

              <div class="content-info">
                <h5> Junio 2021 </h5>

                <div class="info-description">
                  <p>121 documentos</p>

                  
                </div>

                
              </div>
              
            </div>
            
            <div class="card-1 card-content">
              

              <div class="content-info">
                <h5> Julio 2021 </h5>

                <div class="info-description">
                  <p>121 documentos</p>

                  
                </div>

                
              </div>
              
            </div>

            <div class="card-1 card-content">
              

              <div class="content-info">
                <h5> Agosto 2021 </h5>

                <div class="info-description">
                  <p>121 documentos</p>

                  
                </div>

                
              </div>
              
            </div>



            <div class="card-1 card-content">
              

              <div class="content-info">
                <h5> Septiembre 2021 </h5>

                <div class="info-description">
                  <p>121 documentos</p>

                  
                </div>

                
              </div>
              
            </div>

            <div class="card-1 card-content">
              

              <div class="content-info">
                <h5> Octubre 2021 </h5>

                <div class="info-description">
                  <p>121 documentos</p>

                  
                </div>

                
              </div>
              
            </div>
            
            <div class="card-1 card-content">
              

              <div class="content-info">
                <h5> Noviembre 2021 </h5>

                <div class="info-description">
                  <p>121 documentos</p>

                  
                </div>

                
              </div>
              
            </div>

            <div class="card-1 card-content">
              

              <div class="content-info">
                <h5> Diciembre 2021 </h5>

                <div class="info-description">
                  <p>121 documentos</p>

                  
                </div>

                
              </div>
              
            </div>
            
          </div>

          <div class="number-option">
            <div class="left-option">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </div>
  
            <div class="numbers-option">
              <div class="number-one number-all">
                <p>1</p>
              </div>
              <div class="number-two number-all">
                <p>2</p>
              </div>
              <div class="number-three number-all">
                <p>3</p>
              </div>
              <div class="number-four number-all">
                <p>4</p>
              </div>
              <div class="number-five number-all">
                <p>5</p>
              </div>
              <div class="number-six number-all">
                <p>6</p>
              </div>
            </div>
  
            <div class="right-option">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </div>
          </div>

                  
        </div> 
      </ion-grid>
  </div>
  <app-footer></app-footer>
</ion-content>
