
<ion-card class="md hydrated card-course">
  <ion-card-header class="ion-inherit-color md hydrated">
      <ion-card-title role="heading" aria-level="2" class="ion-inherit-color md hydrated" > 
          {{ news_child.seccion | uppercase }}  
         </ion-card-title>
  </ion-card-header>
  <ion-card-content class="md card-content-md hydrated">

    <ion-card-subtitle>
        <ion-list>
            <ion-item >
              <ion-thumbnail slot="start">
                <ion-img src="../../../assets/img/schedule.png"></ion-img>
              </ion-thumbnail>
                 <ion-item class = "class-card" href="../tabs/infcenter/news/info/{{news_child.ID_NO}}" *ngIf="news_child.seccion == 'noticias'">
                    <ion-label>
                        <h2>{{ news_child.fecha_publicacion | date: 'd \'de\' MMMM \'del\' yyyy'| uppercase}}</h2>
                    </ion-label>
                </ion-item>
                <ion-item  class = "class-card" href="../tabs/infcenter/fairs/info/{{news_child.ID_NO}}" *ngIf="news_child.seccion == 'ferias'">
                    <ion-label>
                        <h2>{{ news_child.fecha_inicio | date: 'd \'de\' MMMM \'del\' yyyy'| uppercase}}</h2>
                        <h2>{{ news_child.fecha_fin | date: 'd \'de\' MMMM \'del\' yyyy'| uppercase }}</h2>
                    </ion-label>
                </ion-item>
                <ion-item class = "class-card" href="../tabs/infcenter/eventos/info/{{news_child.ID_NO}}" *ngIf="news_child.seccion == 'eventos'" > 
                    <ion-label>
                        <h2>{{ news_child.fecha_inicio | date: 'd \'de\' MMMM \'del\' yyyy'| uppercase}}</h2>
                        <h3>{{ news_child.fecha_inicio + ' ' + news_child.hora_inicio | date: 'h aa'}} - {{news_child.fecha_fin + ' ' + news_child.hora_fin | date: 'h aa' }}</h3>
                    </ion-label>
                </ion-item>
                <ion-item class = "class-card" href="../tabs/infcenter/aniversary/info/{{news_child.ID_NO}}" *ngIf="news_child.seccion == 'aniversarios'" > 
                    <ion-label>
                        <h2>{{ news_child.fecha_inicio | date: 'd \'de\' MMMM \'del\' yyyy'| uppercase}}</h2>
                        <h3>{{ news_child.fecha_inicio + ' ' + news_child.hora_inicio | date: 'h aa'}} - {{news_child.fecha_fin + ' ' + news_child.hora_fin | date: 'h aa' }}</h3>
                    </ion-label>
                </ion-item>
            </ion-item>
          </ion-list>         
    </ion-card-subtitle>
    <ion-card-subtitle>
        <ion-item>
            <ion-label>
                <h2>{{ news_child.titulo | titlecase}}</h2>
            </ion-label>
        </ion-item>
    </ion-card-subtitle>
  </ion-card-content>
</ion-card>
 