.inputimg{
    background: #F15642;
    border: #F15642;
}
.input_img{
    display: none;
}

.containerimg{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    margin: auto;
}
.containerimg img{
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 50%;
}