<div class="all-trainer">
  <div class="row">
    <div class="col-md-4" style="text-align: center;">
      <p class="foto">Foto de perfil</p>
      <div class="containerimg" *ngIf="imagestat">
        <img src="{{imagestat}}" alt="">
      </div>
      <input class="btn btn-primary input_img" type="file" accept="image/*" value="Selecciona imagen" (change)="handleFileInput($event)">
      <button type="button" class="inputimg btn btn-primary" (click)="upimg();">Selecciona imagen</button>
    </div>
    <div class="col-md-6">
      <div class="name">
        <label for="name-trainer">Nombre Completo</label>
        <input type="text" class="form-control name" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="summary-trainer">
        <label for="summary-trainer">Resumen del capacitador</label>
        <input type="text" class="form-control lastname" placeholder="Resumen" aria-label="Username" aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="col-md-2" style="padding-top: 30px;">
      <button type="button" class="btn btn-primary" style="width: 100%;">Agregar</button>
    </div>
  </div>
  <hr>
</div>
