<ion-content class="content-section">
  <div class="class-body">
    <form action="" class="modal-star">
      <p class="question">¿Te resultó útil la noticia?</p>
      <p class="news-classification">Califica la noticia</p>
      <div class="stars-content">
        <ion-icon class="star-modal" name="star"></ion-icon>
        <ion-icon class="star-modal" name="star"></ion-icon>
        <ion-icon class="star-modal" name="star"></ion-icon>
        <ion-icon class="star-modal" name="star"></ion-icon>
        <ion-icon class="star-modal" name="star-outline"></ion-icon>
      </div>
  
      <div class="btn-save">
        <button>Guardar</button>
      </div>
    </form>
  </div>
</ion-content>