.btn-new-item {
    height: 35px;
    line-height: 30px;
}


@media (min-width: 768px) {
    .container {
        display: flex;
        justify-content: space-between;
    }

    .container .btn-new-item {
        width: 100%;
    }
}

@media (min-width: 500px) {
    .courses {
        padding: 0 1em;
    }
}

@media (min-width: 700px) {
    .courses {
        padding: 0 1.5em;
    }
}

@media (min-width: 768px) {
    .courses {
        padding: 0 2.5em;
    }
}

@media (min-width: 1300px) {
    .courses {
        padding: 0 3.5em;
    }
}

@media (min-width: 1500px) {
    .courses {
        padding: 0 4.5em;
    }
}

@media (min-width: 1800px) {
    .courses {
        padding: 0 5.5em;
    }
}

@media (min-width: 2100px) {
    .courses {
        padding: 0 6.5em;
    }
}

@media (min-width: 2500px) {
    .courses {
        padding: 0 7.5em;
    }
}

.courses .card-watching .card-content .content-img .description,
.courses .card-completed .card-content .content-img .description {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1em;
    padding: 0.5em 1em;
    color: #fff;
    background-color: #F15642;
}

.courses .card-watching .card-content .content-img .description p,
.courses .card-completed .card-content .content-img .description p {
    padding: 0;
    margin: 0;
}


ion-card ion-item .content-img img{
    border-radius:100%;
}


.title-arrow .left-arrow{
    display:flex;
    align-items:flex-start;
    font-size:1.8em;
    color:black;
    margin-top:-12%;
}

.title-arrow .cll{
    display:flex;
    align-items:flex-start;
    font-size:1.6em;
    color:black;
    margin-top:-7%;
}

@media (max-width: 600px) {
    .container .title-section{
        font-size:17px !important;
    }
    .container .subtitle-section{
        font-size:11px !important;
    }

    .title-arrow .left-arrow{
        display:flex;
        align-items:flex-start;
        font-size:1em;
        color:black;
        margin-top:-12%;
    }
    
}

@media (min-width: 992px){
.container{
    max-width:1140px !important;
}
}


@media (min-width: 1200px){
    .container{
        max-width:98% !important;
    }

    // .options2{
    //     padding-left:5vw !important;
    // }
}

.title-section-container{
    padding-left:1em;
}

// ion-grid.section-grid{
//     background-color:rgba(36, 52, 77, 0.73);
// }

.layout-section{
    padding:1.5em 0em;
}





.actions-page.no-mobil{
    margin:auto;
}

.container .title-section{
    font-size:28px;
    font-family:'Raleway',sans-serif;
    font-weight:700;
}

.subtitle-section{
    color:#000000;
    font-style:italic;
}

.container .subtitle-section{
    color:#828282;
    font-style:italic;
}


.content-img{
    margin:2% auto;
    text-align:center;
}

.content-img img{
    height:13em;
    margin-bottom:1em;
}

.two-column ion-card{
    width:50%;
}

.one-column ion-card{
    width:100%;
}

ion-card.main{
    padding:1em 5em;
    background-color:white !important;
    color:black !important;
    border-radius:0px;   
    margin:1em 18em;
}

.doc-user{
    margin:2em 16em;
}

.doc-user .cards-doc{
    display:block;
    text-align:center;
}

.doc-user .cards-doc ion-card{
    width:28%;
    display:inline-block;
    border-radius:10px;
    padding:1em 2em;
    margin:1em;
    height:auto;
}

.doc-user .cards-doc ion-card .content-img img{
    text-align:center;
}

.doc-user .cards-doc ion-card .content-img img{
    width:30%;
    height:auto;
}

.doc-user .cards-doc ion-card .title-doc{
    font-family:'Lucida Sans', sans-serif;
    font-weight:600;
    font-size:1.3em;
    color:black;
    text-align: left;
}

.doc-user .cards-doc ion-card .cloud-btn
{
    padding: .05em;
    border-radius: 10px;
    background-color: #F15642;
    color: #fff;
    border: 1px solid #F15642;
    margin: 0.5em 0em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width:45px;
    height:35px;
    
}

.doc-user .cards-doc ion-card .cloud-btn ion-icon{
    font-size:large;
}

.doc-user .cards-doc ion-card .subtitle-doc{
    font-family:Calibri;
    font-weight:300;
    font-size:1.1em;
    color:black;
    text-align: left;
}

.title-doc-user{
    font-family:'Lucida Sans', sans-serif;
    font-weight:600;
    font-size:1.7em;
}

.main ion-card{
    margin:1.5% 1%;
    // width:48%;
    display:inline-flex;
    height:6.2em;
    border-radius:0%;
}

.cargo,.correo,.fecha,.telefono{
    width:48%;
}
.direccion,.inmobiliaria{
    width:98%;
}

.content-img img{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.aceptarcambio1,.aceptarcambio2
{
    visibility:hidden;
    right:0.5%;
    position:absolute;
}

@media (max-width: 1500px){
ion-card.main{
    margin:1em 15em;    
}

.doc-user{
    margin:2em 13em;
}

.content-img img{
    height: 11em;
}

}

@media (max-width: 1350px){
    ion-card.main{
        margin:1em 12em;
    }

    .doc-user{
        margin:2em 10em;
    }
    .content-img img{
        height: 10em;
    }
}

@media (max-width: 1200px){
    ion-card.main{
        margin:1em 8em;
        padding:1em 3em;
    }
    .doc-user{
        margin:2em 7em;
    }
    .content-img img{
        height: 11em;
    }
}

@media (max-width: 1000px){
    ion-card.main{
        margin:1em 5em;
        padding:1em 2em;
    }

    .doc-user{
        margin:2em 3em;
    }
    .content-img img{
        height: 9em;
    }
}

@media (max-width: 800px){
    ion-card.main{
        margin:1em 3em;
        padding:1em 1em;
    }
    .doc-user{
        margin:2em 2em;
    }
    .main ion-card{
        width:98%;
    }

    .content-img img{
        height: 9em;
    }

    .main h4{
        font-size:1.2rem;
    }


    
}
@media (max-width:766px){
    .doc-user .cards-doc ion-card{
        width:40%;
    }
}


@media (max-width: 600px){
    ion-card.main{
        margin:1em 1em;
        padding:1em 1em;
    }
    .main ion-card{
        width:98%;
    }

    .doc-user .cards-doc ion-card{
        width:90%;
    }

    .doc-user{
        margin:2em .5em;
    }

    .content-img img{
        height: 7em;
    }

    .checkk p{
        font-size:11px;
    }
    ion-checkbox{
        width:.9em;
        height:.9em;
    }

    .actions-page.no-mobil{
        width:100%;
    }
    .actions-page.no-mobil button{
        width:50% !important;
    }
}

ion-item ion-icon{
    color:#24344D !important;
}


.title-arrow{
    display:flex;
    align-items:center;
}


.title-arrow .title{
    margin-left:.5em;
}

.tcard::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 0px !important;
}

ion-card ion-card{
    padding:1.1em .5em;
    background-color:white !important;
}



.main h4{
    font-family:Calibri;
}

.main .title-section-container .title-section{
    font-weight:400;
}
.main .title-section-container{
    margin-bottom:0px;
}


.checkk p{
    margin:0;
    padding-left:1.2%;
}

.checkk:hover{
    color:black !important;
}

ion-checkbox:hover{
    color:black !important;
}

ion-checkbox{
    margin:2em 0%;
    --background:white;
    --border-color:#828282;
    --border-width:1px;
    --color:black;
    --checkmark-color:black;
    --background-checked:white;
    --border-color-checked:#828282;
    
}

ion-item:hover{
--color:black;
--background-color:white;
}

.actions-page.no-mobil{
    display:flex;
    margin-left:0%;
}

.actions-page.no-mobil button{
    justify-content: center;
    width:9em;
    margin-right:1.5%;
}

.subtitle-section
{
    font-family:'Calibri',sans-serif;
}

.main .title-section-container .title-section{
    font-size:17px;
    text-transform:none;
}




