<ion-content class="content-section">
    <div class="layout-section">
        <div class="container">
            <div class="row-actions-top">



                <div class="title-section-container">
                    <div class="title-arrow">
                        <div class="left-arrow" (click)="volverLearn()">
                            <ion-icon name="arrow-back-outline"></ion-icon>
                        </div>
                        <div class="title">
                            <h3 class="title-section">MIS CERTIFICADOS</h3>
                            <p class="subtitle-section">Encuentra todos tus certificados por cda curso culminado</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <ion-grid class="section-grid">
            <div class="courses">


                <div class="new-card">


                    <ion-row>
                        <ion-col size="12" size-md="6" size-lg="4" *ngFor="let item of CertificadosData?.contenido">
                            <app-card-certificado [certificados_child]="item" (idCertificados)="openCertificados_($event)" [visible]="visible"></app-card-certificado>
                        </ion-col>
                    </ion-row>
                </div>

                <app-paginador [paginas]="pages" [pagina]="currentpage" (number_page)="changepage_($event)"></app-paginador>

                <!-- <div class="number-option">
                    <div class="left-option">
                        <ion-icon name="chevron-back-outline"></ion-icon>
                    </div>

                    <div class="numbers-option">
                        <div class="number-one number-all">
                            <p>1</p>
                        </div>
                        <div class="number-two number-all">
                            <p>2</p>
                        </div>
                        <div class="number-three number-all">
                            <p>3</p>
                        </div>
                        <div class="number-four number-all">
                            <p>4</p>
                        </div>
                        <div class="number-five number-all">
                            <p>5</p>
                        </div>
                        <div class="number-six number-all">
                            <p>6</p>
                        </div>
                    </div>

                    <div class="right-option">
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                    </div>
                </div> -->


            </div>
        </ion-grid>
    </div>
    <app-footer></app-footer>
</ion-content>