<ion-content class="content-section">
  <div class="layout-section">
      <div class="container">
          <div class="row-actions-top">
            
            
            
            <div class="title-section-container">
              <div class="title-arrow">
                <div class="left-arrow" (click)="volverLearn()">
                  <ion-icon name="arrow-back-outline"></ion-icon>
                </div>
                <div class="title">
                  <h3 class="title-section">MIS CERTIFICADOS</h3>
                  <p class="subtitle-section">Encuentra todos tus certificados por cda curso culminado</p>
                </div>
              </div>
              </div>
          </div>

      </div>

      <ion-grid class="section-grid">
        <div class="courses">
          

          <div class="new-card">
            <div class="card-1 card-content">
              <div class="content-img">
                <img src="../../../../assets/img/certified1.png" alt="">
              </div>

              <div class="content-info">
                <h5>Curso: Protección al consumidor inmobiliario</h5>

                <div class="info-description">
                  <p>Dictado por Maria Mendoza</p>

                  <div class="calificacion">
                    <p>Duración: 3 horas </p>
                  </div>
                </div>

                <div class="admin-edit">
                  <div class="cloud-btn">
                    <ion-icon name="cloud-download"></ion-icon>
                  </div>
                </div>
              </div>
              
            </div>

            <div class="card-1 card-content">
              <div class="content-img">
                <img src="../../../../assets/img/certified1.png" alt="">
              </div>

              <div class="content-info">
                <h5>Curso: Protección al consumidor inmobiliario</h5>

                <div class="info-description">
                  <p>Dictado por Maria Mendoza</p>

                  <div class="calificacion">
                    <p>Duración: 3 horas </p>
                  </div>
                </div>

                <div class="admin-edit">
                  <div class="cloud-btn">
                    <ion-icon name="cloud-download"></ion-icon>
                  </div>
                </div>
              </div>
              
            </div>

            <div class="card-1 card-content">
              <div class="content-img">
                <img src="../../../../assets/img/certified1.png" alt="">
              </div>

              <div class="content-info">
                <h5>Curso: Protección al consumidor inmobiliario</h5>

                <div class="info-description">
                  <p>Dictado por Maria Mendoza</p>

                  <div class="calificacion">
                    <p>Duración: 3 horas </p>
                  </div>
                </div>

                <div class="admin-edit">
                  <div class="cloud-btn">
                    <ion-icon name="cloud-download"></ion-icon>
                  </div>
                </div>
              </div>
              
            </div>

            <div class="card-1 card-content">
              <div class="content-img">
                <img src="../../../../assets/img/certified1.png" alt="">
              </div>

              <div class="content-info">
                <h5>Curso: Protección al consumidor inmobiliario</h5>

                <div class="info-description">
                  <p>Dictado por Maria Mendoza</p>

                  <div class="calificacion">
                    <p>Duración: 3 horas </p>
                  </div>
                </div>

                <div class="admin-edit">
                  <div class="cloud-btn">
                    <ion-icon name="cloud-download"></ion-icon>
                  </div>
                </div>
              </div>
              
            </div>

            <div class="card-1 card-content">
              <div class="content-img">
                <img src="../../../../assets/img/certified1.png" alt="">
              </div>

              <div class="content-info">
                <h5>Curso: Protección al consumidor inmobiliario</h5>

                <div class="info-description">
                  <p>Dictado por Maria Mendoza</p>

                  <div class="calificacion">
                    <p>Duración: 3 horas </p>
                  </div>
                </div>

                <div class="admin-edit">
                  <div class="cloud-btn">
                    <ion-icon name="cloud-download"></ion-icon>
                  </div>
                </div>
              </div>
              
            </div>

            <div class="card-1 card-content">
              <div class="content-img">
                <img src="../../../../assets/img/certified1.png" alt="">
              </div>

              <div class="content-info">
                <h5>Curso: Protección al consumidor inmobiliario</h5>

                <div class="info-description">
                  <p>Dictado por Maria Mendoza</p>

                  <div class="calificacion">
                    <p>Duración: 3 horas </p>
                  </div>
                </div>

                <div class="admin-edit">
                  <div class="cloud-btn">
                    <ion-icon name="cloud-download"></ion-icon>
                  </div>
                </div>
              </div>
              
            </div>
            
          </div>

          <div class="number-option">
            <div class="left-option">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </div>
  
            <div class="numbers-option">
              <div class="number-one number-all">
                <p>1</p>
              </div>
              <div class="number-two number-all">
                <p>2</p>
              </div>
              <div class="number-three number-all">
                <p>3</p>
              </div>
              <div class="number-four number-all">
                <p>4</p>
              </div>
              <div class="number-five number-all">
                <p>5</p>
              </div>
              <div class="number-six number-all">
                <p>6</p>
              </div>
            </div>
  
            <div class="right-option">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </div>
          </div>

                   
        </div> 
      </ion-grid>
  </div>
  <app-footer></app-footer>
</ion-content>
