<ion-content class="content-section">
    <div class="layout-section">
        <div class="container">
            <div class="row-actions-top">
                <div class="title-section-container">
                    <div class="title-arrow">
                        <div class="left-arrow" (click)="volverDocumentsTipos()">
                            <ion-icon name="arrow-back-outline"></ion-icon>
                        </div>
                        <div class="title">
                            <h3 class="title-section">Documentos personales</h3>
                            <p class="subtitle-section">En esta sección podrás encontrar tus documentos personales.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <ion-row>
            <ion-col size="12" size-lg="7" class="header-course left-header">
                <ion-searchbar placeholder="Buscar por nombre o tipo de documento" (ionChange)="onSearchChange($event)"></ion-searchbar>
            </ion-col>
            <ion-col size="12" size-lg="5" class="header-categoria right-header">
                <ion-button *ngIf='rol == "admin"' expand="block" class="subir_archivo" (click)="newDocumentsfiles()">Subir archivo<ion-icon name="add-circle" class="more-icon"></ion-icon></ion-button>
            </ion-col>
        </ion-row>

        <ion-grid class="section-grid">
            <div class="files">
                <app-card-documents-files class="card_col" [documentsfiles_child]="item" *ngFor="let item of DocumentsFilesData?.archivos" (idDocumentsfiles)="editDocumentsfile_($event)" (idDocumentsfilesR)="removeFile_($event)"></app-card-documents-files>
                
                <app-paginador [paginas]="pages" [pagina]="currentpage" (number_page)="changepage_($event)"></app-paginador>
            </div>
        </ion-grid>
    </div>
    <app-footer></app-footer>
</ion-content>