<ion-content class="content-section">
  <app-navigation-tabs></app-navigation-tabs>
  
  <div class="layout-section">

    
    <div class="courses">

      <div class="options">
        <ion-button class="mod1" routerLink="/admin-usuarios/admin-modulo">Admin. de módulos</ion-button>
        <ion-button class="asoc1" routerLink="/admin-usuarios/admin-asociado" >Admin. de asociados</ion-button>
        <ion-button class="colab1 active" routerLink="/admin-usuarios/admin-colaborador">Admin. de colaboradores</ion-button>  
        <ion-button class="mod2" routerLink="/admin-usuarios/admin-modulo">A. de módulos</ion-button>
        <ion-button class="asoc2" routerLink="/admin-usuarios/admin-asociado" >A. de asociados</ion-button>
        <ion-button class="colab2 active" routerLink="/admin-usuarios/admin-colaborador">A. de colaboradores</ion-button> 
      </div>

      <div class="container">
          <div class="row-actions-top">
              <div class="title-section-container">
                  <h3 class="title-section">ADMINISTRADOR DE COLABORADOR</h3>
                  <p class="subtitle-section">Gestiona la información de los colaboradores de ASEI</p>
              </div>
          </div>
      </div>

      <ion-grid class="section-grid">
        <div class="courses">
          <div class="news-courses">
            <div class="search-courses">
              <div class="input-search no-user">
                <input type="search" name="" id="" placeholder="Buscar por nombre o palabra clave">
                <ion-icon class="search-btn" name="search-outline"></ion-icon>
              </div>
              <div class="options2">
              <select name="example" placeholder="Estado">
                <option value="A">Estado</option>
                <option value="B">Habilitado</option>
                <option value="C">Deshabilitado</option>
              </select>
    
              <!-- Add -->
              <div class="actions-page no-mobil">
                <button class="btn-new-item">
                    <span>Nueva</span>
                    <ion-icon class="icon-btn" name="add-circle"></ion-icon>
                </button>
              </div>
              </div>  
          
            </div>
          </div>
        </div> 

      </ion-grid>



    
    
    <ion-card *ngFor ="let data of rows">
      <ion-item >
        <div class="card-photo"  >
          <div class="content-img">
            <img src="../../../../../assets/img/webinar-pr1.png" alt="">
          </div>
        </div>
        <div class="card-info">
        <ion-label class="name">{{data.nombre}}</ion-label>
        <ion-label>{{data.cargo}}
        </ion-label>
        <div class="state-off">
          <br>
          <ion-label>{{data.estado}}</ion-label>
        </div>
        </div>
        <div class="card-state">
          <ion-label>{{data.estado}}</ion-label>
        </div>
        <ion-item class="card-arrow ion-activated" href="#" >
        <!-- <ion-button fill="outline" slot="end">View</ion-button> -->
        <!-- <ion-button><ion-icon name="arrow-forward-outline"></ion-icon></ion-button> -->
        <!-- <ion-icon name="arrow-forward-outline"></ion-icon> -->
        <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-item>
      </ion-item>    
    </ion-card>
    
    <div class="number-option">
      <div class="left-option">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </div>

      <div class="numbers-option">
        <div class="number-one number-all">
          <p>1</p>
        </div>
        <div class="number-two number-all">
          <p>2</p>
        </div>
        <div class="number-three number-all">
          <p>3</p>
        </div>
        <div class="number-four number-all">
          <p>4</p>
        </div>
        <div class="number-five number-all">
          <p>5</p>
        </div>
        <div class="number-six number-all">
          <p>6</p>
        </div>
      </div>

      <div class="right-option">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
  </div>
  </div>
  <app-footer></app-footer>
</ion-content>