// @import "../../../../../node_modules/@swimlane/ngx-datatable/themes/bootstrap.css";
// @import "../../../../../node_modules/@swimlane/ngx-datatable/themes/material.css";
// @import "../../../../../node_modules/@swimlane/ngx-datatable/themes/dark.css";
// @import "../../../../../node_modules/@swimlane/ngx-datatable/index.css";
// @import "../../../../../node_modules/@swimlane/ngx-datatable/assets/icons.css";

ion-row{
    background: #f5f5f5;
}

.header-course{
    padding-left: 80px;
    padding-right: 80px;
}
.estado{
    --border-radius: 10px;
    --background: #24344D;
}
.more-icon{
    margin-left: 10px;
}
@media (max-width: 600px) {
    .header-course{
        padding-left: 20px;
        padding-right: 20px;
    }
}
.left-header{
    text-align: left;
}
.right-header{
    text-align: right;
}

.ion-menu{

    --background: white;
}
