<ion-content class="content-section">
  <app-navigation-tabs></app-navigation-tabs>

  
  
  <div class="layout-section">

    
    <div class="courses">

      <div class="options">
        <ion-button class="mod1" routerLink="/tabs/admin/admin-modulo">Admin. de módulos</ion-button>
        <ion-button class="asoc1" routerLink="/tabs/admin/admin-asociado" >Admin. de asociados</ion-button>
        <ion-button class="colab1 active" routerLink="/tabs/admin/admin-colaborador">Admin. de colaboradores</ion-button> 
      </div>
      
      
      <ion-app >
        <ion-menu side="end" content-id="main-content">
          <ion-header>
            <ion-toolbar>
              <ion-title>Menu</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <ion-list  >
              <ion-item>
                <ion-icon name="mail" slot="end"></ion-icon>
                <ion-label>Inbox</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="paper-plane" slot="end"></ion-icon>
                <ion-label>Outbox</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="heart" slot="end"></ion-icon>
                <ion-label>Favorites</ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ion-menu>
    
        <div class="ion-page" id="main-content" >
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-menu-button></ion-menu-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
        </div>
      </ion-app>

      <div class="container" >
          <div class="row-actions-top">
              <div class="title-section-container">
                  <h3 class="title-section">ADMINISTRADOR DE COLABORADOR</h3>
                  <p class="subtitle-section">Gestiona la información de los colaboradores de ASEI</p>
              </div>
          </div>
      </div>

      

      <ion-row >
        <ion-col size="12" size-lg="6" class="header-course left-header">
          <ion-searchbar placeholder="Buscar por nombre o palabra clave" (ionChange)="onSearchChange($event)"></ion-searchbar>
        </ion-col>
        <ion-col size="6" size-lg="3" class="header-course">
          <ion-item expand="block" class="estado" >
            <ion-label>Estado</ion-label>
            <ion-select interface="popover" >
              <ion-select-option value="nes">Habilitado</ion-select-option>
              <ion-select-option value="n64">Deshabilitado</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col id="main-content"  size="6" size-lg="3" class="header-course">
          <ion-button id="main-content" expand="block" class="btn-new-item" (click)="iraCrear()">Nuevo <ion-icon name="add-circle" class="more-icon"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
  
        <ion-col size="1" size-md="2" size-lg="4" *ngFor="let item of UserData?.users" >
          <app-card-list-admin class="card_col" [user_child]="item" ></app-card-list-admin>
        </ion-col>
   
        <app-paginador [paginas]="pages" [pagina]="currentpage" (number_page)="changepage_($event)"></app-paginador>

    </div>

  </div>
 
  <app-footer></app-footer>
</ion-content>