<ion-content class="content-section">
  <div class="layout-section">
      <div class="container">
          <div class="row-actions-top">
              <div class="title-section-container">
                <div class="title-arrow">
                  <!-- Flecha a la izquierda -->
                  <div class="left-arrow" (click)="volverWebinars()">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                  </div>
  
                  <div class="title">
                    <h3 class="title-section color-news">Webinars</h3>
                    <p class="subtitle-section color-news">Todos los nuevos webinars de ASEI</p>
                  </div>
                </div>
              </div>
          </div>

      </div>

      <ion-grid class="section-grid">
        <div class="courses">
          <div class="news-courses">
            <div class="content-search">
              <!-- no-user es para admin, user es para usuario -->
              <div class="input-search no-user">
                <input type="search" name="" id="" placeholder="Buscar webinar por nombre">
                <ion-icon class="search-btn" name="search-outline"></ion-icon>
              </div>
    
            </div>
          <h4 >Nuevos Webinars</h4>
          </div>

          <div class="new-card">
            <div class="card-1 card-content">
              <div class="content-img">
                <img src="../../../../assets/img/webinar-1.png" alt="">
              </div>

              <div class="content-info">
                <h5>Webinar I: Modelo de Prevención de Delitos para Inmobiliarias | ASEI Learning Center</h5>

                <div class="info-description">
                  <p>Dictado por Maria Mendoza</p>
 

                   <div class="calificacion">
                    <p>Calificación</p>

                    <div class="stars">
                      <ion-icon class="stars-calificacion" name="star"></ion-icon>
                      <ion-icon class="stars-calificacion" name="star"></ion-icon>
                      <ion-icon class="stars-calificacion" name="star"></ion-icon>
                      <ion-icon class="stars-calificacion" name="star"></ion-icon>
                      <ion-icon class="stars-calificacion" name="star-outline"></ion-icon>
                    </div>
                  </div> 
                </div>
              </div>
            </div>

            <div class="card-2 card-content">
              <div class="content-img">
                <img src="../../../../assets/img/webinar-2.png" alt="">
              </div>

              <div class="content-info">
                <h5>Webinar II: Protección de datos personales en el negocio inmobiliario | ASEI LEARNING CENTER</h5>

                <div class="info-description">
                  <p>Dictado por Maria Mendoza</p>

                  

                  <div class="calificacion">
                    <p>Calificación</p>

                    <div class="stars">
                      <ion-icon class="stars-calificacion" name="star"></ion-icon>
                      <ion-icon class="stars-calificacion" name="star"></ion-icon>
                      <ion-icon class="stars-calificacion" name="star"></ion-icon>
                      <ion-icon class="stars-calificacion" name="star"></ion-icon>
                      <ion-icon class="stars-calificacion" name="star-outline"></ion-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-3 card-content">
              <div class="content-img">
                <img src="../../../../assets/img/webinar-3.png" alt="">
              </div>

              <div class="content-info">
                <h5>Webinar III: Igualdad Salarial y Hostigamiento Sexual | ASEI Learning Center</h5>

                <div class="info-description">
                  <p>Dictado por Maria Mendoza</p>

                  

                  <div class="calificacion">
                    <p>Calificación</p>

                    <div class="stars">
                      <ion-icon class="stars-calificacion" name="star"></ion-icon>
                      <ion-icon class="stars-calificacion" name="star"></ion-icon>
                      <ion-icon class="stars-calificacion" name="star"></ion-icon>
                      <ion-icon class="stars-calificacion" name="star"></ion-icon>
                      <ion-icon class="stars-calificacion" name="star-outline"></ion-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-4 card-content">
              <div class="content-img">
                <img src="../../../../assets/img/webinar-1.png" alt="">
              </div>

              <div class="content-info">
                <h5>Webinar I: Modelo de Prevención de Delitos para Inmobiliarias | ASEI Learning Center</h5>

                <div class="info-description">
                  <p>Dictado por Maria Mendoza</p>

                  <div class="calificacion">
                    <p>Calificación</p>

                    <div class="stars">
                      <ion-icon class="stars-calificacion" name="star"></ion-icon>
                      <ion-icon class="stars-calificacion" name="star"></ion-icon>
                      <ion-icon class="stars-calificacion" name="star"></ion-icon>
                      <ion-icon class="stars-calificacion" name="star"></ion-icon>
                      <ion-icon class="stars-calificacion" name="star-outline"></ion-icon>
                    </div>
                  </div> 
                </div>
              </div>
            </div>

            <div class="card-5 card-content">
              <div class="content-img">
                <img src="../../../../assets/img/webinar-2.png" alt="">
              </div>

              <div class="content-info">
                <h5>Webinar II: Protección de datos personales en el negocio inmobiliario | ASEI LEARNING CENTER</h5>

                <div class="info-description">
                  <p>Dictado por Maria Mendoza</p>

                  
                  <div class="calificacion">
                    <p>Calificación</p>

                    <div class="stars">
                      <ion-icon class="stars-calificacion" name="star"></ion-icon>
                      <ion-icon class="stars-calificacion" name="star"></ion-icon>
                      <ion-icon class="stars-calificacion" name="star"></ion-icon>
                      <ion-icon class="stars-calificacion" name="star"></ion-icon>
                      <ion-icon class="stars-calificacion" name="star-outline"></ion-icon>
                    </div>
                  </div> 
                </div>
              </div>
            </div>

            <div class="card-6 card-content">
              <div class="content-img">
                <img src="../../../../assets/img/webinar-3.png" alt="">
              </div>

              <div class="content-info">
                <h5>Webinar III: Igualdad Salarial y Hostigamiento Sexual | ASEI Learning Center</h5>

                <div class="info-description">
                  <p>Dictado por Maria Mendoza</p>

                  
                  <div class="calificacion">
                    <p>Calificación</p>

                    <div class="stars">
                      <ion-icon class="stars-calificacion" name="star"></ion-icon>
                      <ion-icon class="stars-calificacion" name="star"></ion-icon>
                      <ion-icon class="stars-calificacion" name="star"></ion-icon>
                      <ion-icon class="stars-calificacion" name="star"></ion-icon>
                      <ion-icon class="stars-calificacion" name="star-outline"></ion-icon>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </div>

          <div class="number-option">
            <div class="left-option">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </div>
  
            <div class="numbers-option">
              <div class="number-one number-all">
                <p>1</p>
              </div>
              <div class="number-two number-all">
                <p>2</p>
              </div>
              <div class="number-three number-all">
                <p>3</p>
              </div>
              <div class="number-four number-all">
                <p>4</p>
              </div>
              <div class="number-five number-all">
                <p>5</p>
              </div>
              <div class="number-six number-all">
                <p>6</p>
              </div>
            </div>
  
            <div class="right-option">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </div>
          </div>

        </div> 
      </ion-grid>
  </div>
  <app-footer></app-footer>
</ion-content>