/* notificaciones */
.notificacionevent{
    visibility: hidden; 
    transition: visibility 0s, opacity 0.5s linear; 
    box-shadow: 0 6px 9px #666;
    border-radius: 10px; 
    width: 320px; 
    height: 140px; 
    background: #fff; 
    position: absolute; 
    bottom: 0px; 
    margin: 15px;
}
.headernotificacion{
    display: flex; 
    margin: 5px auto;
    width: 90%;
    position: relative;
}
.titlenotificacion{
    font-weight: bold; 
    font-size: 0.8rem;
    margin-top: 4px;
}
.closenotificacion{
    cursor: pointer; 
    position: absolute; 
    right: 0px; 
    padding-left: 9px; 
    padding-right: 9px; 
    padding-bottom: 3px; 
    background: #b5b5b5;
    border-radius: 50%;
    font-weight: bold;
}
.boddynotificacion{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 10px;
}

.avatarnotificacion{
    font-size: 3rem; 
    background: #666; 
    color: #fff; 
    padding-top: 3px; 
    padding-left: 12px; 
    padding-right: 12px; 
    border-radius: 50%;
}
.contentnotificacion{
    margin-left: 10px;
}
.contentnotificacion h5,
.contentnotificacion p{
    margin:auto;
}

/* modal */

.overlay-10 {
    position: absolute;
    display: none;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(27, 37, 45, .75);
    backdrop-filter: blur(4px);
}

.modal-template {
    position: relative;
    box-shadow: 0 12px 22px 2px rgb(0 0 0 / 50%);
    padding: 20px;
    margin: auto;
    vertical-align: middle;
    max-width: 300px;
    background: #ffffff;
    margin-top: 25vh;
    text-align: center;
    border-radius: 5px;
    color: #000;
}

.modal-title,
.modal-subtitle {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.8rem;
}

.modal-content ion-button {
    --background: #f25115;
}

.modal-content ion-button ion-icon {
    margin-right: 10px;
}

.modal-title a,
.modal-subtitle a {
    color: #f25115;
    text-decoration: none;
    margin-left: 5px;
}

.close-modal {
    position: absolute;
    width: 260px;
    text-align: right;
}

ion-icon {
    pointer-events: all !important;
}

.close-btn {
    cursor: pointer !important;
}

.star {
    color: #DF8708
}

.star-outline {
    color: #f1f1f1;
}

.container-stars {
    margin-top: 15px;
}

.container-stars>* {
    height: 35px !important;
    width: 35px
}