<ion-content class="content-section">
    <app-navigation-tabs></app-navigation-tabs>

    <div class="layout-section">

        <div class="courses">
            <div class="container">
                <div class="row-actions-top">
                    <div class="title-section-container">
                        <div class="title-arrow">
                            <!-- Flecha a la izquierda -->
                            <div class="left-arrow cll" (click)="volverCursos()">
                                <ion-icon name="arrow-back-outline"></ion-icon>
                            </div>

                            <div class="title" >
                                <h3 class="title-section color-news">EDITAR USUARIO</h3>
                                <p class="subtitle-section color-news">Completa la información correspondiente al usuario </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form action="" class="inputs-create" (ngSubmit)="update_profile(fUserCol)" #fUserCol="ngForm">
                <ion-card class="main">

                    <ion-item class="imagen">
                        <div class="content-img">
                            <img src="{{ imagencol }}" alt="" style="height: 100%;">
                            <ion-icon name="image"></ion-icon>
                            <div class="mini-camera">
                                <input type="file" title="" accept="image/*" class="img_" (change)="img_colaborador($event)" style="display: none;">
                                <div class="input_photo" (click)="subirimg()">
                                    <ion-icon name="camera"></ion-icon>
                                </div>
                            </div>
                        </div>
                    </ion-item>

                    <ion-card class="pnombre">
                        <ion-item>
                            <div class="title-section-container tcard">
                                <div class="title-arrow">
                                    <label>Nombres*</label>
                                </div>
                                <div class="title-arrow npt">
                                    <input type="text" style="width:100%;" name="name_1" [(ngModel)]="name_1" disabled = {{estado}}>
                                </div>
                            </div>
                        </ion-item>
                    </ion-card>

                    <ion-card class="apaterno">
                        <ion-item>
                            <div class="title-section-container tcard">
                                <div class="title-arrow">
                                    <label>Apellido paterno*</label>
                                </div>
                                <div class="title-arrow npt">
                                    <input type="text" style="width:100%;" name="lastname_1" [(ngModel)]="lastname_1"  disabled = {{estado}}>
                                </div>
                            </div>
                        </ion-item>
                    </ion-card>

                    <ion-card class="amaterno" >
                        <ion-item>
                            <div class="title-section-container tcard">
                                <div class="title-arrow">
                                    <label>Apellido materno*</label>
                                </div>
                                <div class="title-arrow npt">
                                    <input type="text" style="width:100%;" name="lastname_2" [(ngModel)]="lastname_2"  disabled = {{estado}}>
                                </div>
                            </div>
                        </ion-item>
                    </ion-card>

                    <ion-card class="cargo">
                        <ion-item>
                            <div class="title-section-container tcard">
                                <div class="title-arrow">
                                    <label>Cargo*</label>
                                </div>
                                <div class="title-arrow npt">
                                    <input type="text" style="width:100%;" name="cargo" [(ngModel)]="cargo"  disabled = {{estado}}>
                                </div>
                            </div>
                        </ion-item>
                    </ion-card>

                    <ion-card class="correo">
                        <ion-item>
                            <div class="title-section-container tcard">
                                <div class="title-arrow">
                                    <label>Correo electrónico*</label>
                                </div>
                                <div class="title-arrow npt">
                                    <input type="text" style="width:100%;" name="email" [(ngModel)]="email"  disabled = {{estado}}>
                                </div>
                            </div>
                        </ion-item>
                    </ion-card>

                    <ion-card class="fecha" >
                        <ion-item>
                            <div class="title-section-container tcard">
                                <div class="title-arrow">
                                    <label>Fecha de ingreso (año-mes-día)*</label>
                                </div>
                                <div class="title-arrow npt">
                                    <input type="text" style="width:100%;" name="fecha" [(ngModel)]="fecha"  disabled = {{estado}}>
                                </div>
                            </div>
                        </ion-item>
                    </ion-card>

                    <ion-card class="telefono" >
                        <ion-item>
                            <div class="title-section-container tcard">
                                <div class="title-arrow">
                                    <label>Teléfono*</label>
                                </div>
                                <div class="title-arrow npt">
                                    <input type="text" style="width:100%;" name="phone" [(ngModel)]="phone"  disabled = {{estado}}>
                                </div>
                            </div>
                        </ion-item>
                    </ion-card>

                    <ion-card class="direccion" >
                        <ion-item>
                            <div class="title-section-container tcard">
                                <div class="title-arrow">
                                    <label>Dirección*</label>
                                </div>
                                <div class="title-arrow npt">
                                    <input type="text" style="width:100%;" name="direccion" [(ngModel)]="direccion"  disabled = {{estado}}>
                                </div>
                            </div>
                        </ion-item>
                    </ion-card>

                    <ion-card class="inmobiliaria">
                        <ion-item>
                            <div class="title-section-container tcard">
                                <div class="title-arrow">
                                    <label>Inmobiliaria*</label>
                                </div>
                                <div class="title-arrow npt">
                                    <select name="inmobiliaria" [(ngModel)]="inmobiliaria"  disabled = {{estado}}>
                    <option value="" disabled selected>Inmobiliarias</option>
                    <option value="Asei">ASEI</option>
                    <option value="EDIFICA">EDIFICA</option>
                    <option value="PADOVA">PADOVA</option>
                    <option value="LA VENTUROSA">LA VENTUROSA</option>
                    <option value="LA MURALLA">LA MURALLA</option>
                    <option value="MARCAN">MARCAN</option>
                    <option value="ARTECO">ARTECO</option>
                    <option value="GRUPO T&C">GRUPO T&C</option>
                    <option value="PROCITY">PROCITY</option>
                    <option value="VALICO">VALICO</option>
                    <option value="MADRID INGENIEROS">MADRID INGENIEROS</option>
                    <option value="MARTE">MARTE</option>
                    <option value="ROCAZUL">ROCAZUL</option>
                    <option value="CASAIDEAL INMOBILIARIA">CASAIDEAL INMOBILIARIA</option>
                    <option value="CAPAC ">CAPAC </option>
                    <option value="FUNDAMENTA ">FUNDAMENTA </option>
                    <option value="ICASA">ICASA</option>
                    <option value="MY HOME ">MY HOME </option>
                    <option value="URBANA">URBANA</option>
                    <option value="ABRIL">ABRIL</option>
                    <option value="ACTUAL">ACTUAL</option>
                    <option value="JOPESA">JOPESA</option>
                    <option value="MUNDO VERDE">MUNDO VERDE</option>
                    <option value="BESA">BESA</option>
                    <option value="CISSAC ">CISSAC </option>
                    <option value="BINDA INGENIEROS ">BINDA INGENIEROS </option>
                    <option value="SENDA">SENDA</option>
                    <option value="DESAROLLADORA">DESAROLLADORA</option>
                    <option value="GRUPO OCTAGON">GRUPO OCTAGON</option>
                    <option value="RB ARQUITECTURA Y CONSTRUCCION">RB ARQUITECTURA Y CONSTRUCCION</option>
                    <option value="D&C GRUPO INMOBILIARIO">D&C GRUPO INMOBILIARIO</option>
                    <option value="GRUPO LAR">GRUPO LAR</option>
                    <option value="QUATRO">QUATRO</option>
                    <option value="EDIFICACIONES INMOBILIARIAS ">EDIFICACIONES INMOBILIARIAS </option>
                    <option value="CASTER ">CASTER </option>
                    <option value="MS INMOBILIARIA ">MS INMOBILIARIA </option>
                    <option value="FAI">FAI</option>
                    <option value="INGO CASA PERU ">INGO CASA PERU </option>
                    <option value="ALBAMAR">ALBAMAR</option>
                    <option value="ILLUSIONE">ILLUSIONE</option>
                    <option value="AVENIR">AVENIR</option>
                    <option value="CITIA">CITIA</option>
                    <option value="PALOMAR">PALOMAR</option>
                    <option value="EUREKA">EUREKA</option>
                    <option value="FUTURA SOLUCIONES ">FUTURA SOLUCIONES </option>
                    <option value="WASIIKI">WASIIKI</option>
                    <option value="LUGANO">LUGANO</option>
                    <option value="PALACE">PALACE</option>
                    <option value="VITAIN INMOBILIARIA">VITAIN INMOBILIARIA</option>
                    <option value="SOHO">SOHO</option>
                    <option value="CANTABRIA">CANTABRIA</option>
                    <option value="ELEUSIS">ELEUSIS</option>
                    <option value="CARAL">CARAL</option>
                    <option value="GRANADERO">GRANADERO</option>
                    <option value="BLF">BLF</option>
                    <option value="CANAMATT">CANAMATT</option>
                    <option value="CYGNUS">CYGNUS</option>
                    <option value="AURORA">AURORA</option>
                    <option value="VYV DESARROLLO INMOBILIARIO ">VYV DESARROLLO INMOBILIARIO </option>
                    <option value="VOLTERRA">VOLTERRA</option>
                    <option value="DANFRA">DANFRA</option>
                    <option value="LLAXTA">LLAXTA</option>
                    <option value="PROYEC">PROYEC</option>
                    <option value="ASPEN">ASPEN</option>
                    <option value="INITALIA">INITALIA</option>
                    <option value="AVIVA">AVIVA</option>
                    <option value="BRAZIL">BRAZIL</option>
                    <option value="ALERCES ">ALERCES </option>
                    <option value="INVENT ">INVENT </option>
                    <option value="AVITAR">AVITAR</option>
                    <option value="ORION GROUP">ORION GROUP</option>
                    <option value="D'KASA">D'KASA</option>
                    <option value="BENGALA">BENGALA</option>
                    <option value="HPC">HPC</option>
                    <option value="ABITARE">ABITARE</option>
                    <option value="ARQUIMIA ">ARQUIMIA </option>
                    <option value="EDIFIKARTE">EDIFIKARTE</option>
                    <option value="CAT">CAT</option>
                    <option value="PUERTA DE TIERRA ">PUERTA DE TIERRA </option>
                    <option value="INARCO ">INARCO </option>
                    <option value="DITRENZZO">DITRENZZO</option>
                    <option value="NEOVIDA">NEOVIDA</option>
                    <option value="REAL INMOBILIARIA">REAL INMOBILIARIA</option>
                    <option value="QOLONO">QOLONO</option>
                    <option value="GRUPO ESPEJO">GRUPO ESPEJO</option>
                    <option value="GRUPO MAXX">GRUPO MAXX</option>
                    <option value="QUISPE & MAMANI">QUISPE & MAMANI</option>
                    <option value="LABOK">LABOK</option>
                    <option value="ORTIZ INMOBILIARIA ">ORTIZ INMOBILIARIA </option>
                    <option value="GRUPO UIN ">GRUPO UIN </option>
                    <option value="GRUPO TOSCANA ">GRUPO TOSCANA </option>
                    <option value="TERRAS ">TERRAS </option>
                    <option value="ARES">ARES</option>
                    <option value="CHECOR">CHECOR</option>
                    <option value="GRUPO SOL ">GRUPO SOL </option>
                    <option value="SAN CHARBEL">SAN CHARBEL</option>
                    <option value="VIVE HOGAR ">VIVE HOGAR </option>
                    <option value="ESPACIO INMOBILIARIO ">ESPACIO INMOBILIARIO </option>
                    <option value="MG VIDA ">MG VIDA </option>
                    <option value="INMOBILIARIA SAN MARTIN ">INMOBILIARIA SAN MARTIN </option>
                    <option value="TRIADA">TRIADA</option>
                    <option value="VIENNA">VIENNA</option>
                    <option value="R&R INMOBILIARIA">R&R INMOBILIARIA</option>
                    <option value="ENTORNO">ENTORNO</option>
                    <option value="VENTI">VENTI</option>
                    <option value="OLED">OLED</option>
                    <option value="GRUPO PATIO ">GRUPO PATIO </option>
                    <option value="CIUDARIS">CIUDARIS</option>
                    <option value="TITAN">TITAN</option>
                    <option value="CUMBRES ANDINAS">CUMBRES ANDINAS</option>
                    <option value="FG EDIFICACIONES ">FG EDIFICACIONES </option>
                    <option value="GRUPO LA RIAZA">GRUPO LA RIAZA</option>
                    <option value="EFRON ARQUITECTOS ">EFRON ARQUITECTOS </option>
                    <option value="QUALIS INMOBILIA">QUALIS INMOBILIA</option>
                    <option value="GDC DESARROLLOS">GDC DESARROLLOS</option>
                    <option value="EE INMOBILIARIA">EE INMOBILIARIA</option>
                    <option value="INHOUSE GRUPO ">INHOUSE GRUPO </option>
                    <option value="EVERGRAN">EVERGRAN</option>
                    <option value="CONFORTA">CONFORTA</option>
                    <option value="ODIMA">ODIMA</option>
                    <option value="ACTIVA">ACTIVA</option>
                    <option value="ARCH INVERSIONES">ARCH INVERSIONES</option>
                    <option value="LANDER">LANDER</option>
                    <option value="CIMENTARES">CIMENTARES</option>
                    <option value="FCM ">FCM </option>
                    <option value="LATERAL">LATERAL</option>
                    <option value="CONSTRUCTORA FRANCO">CONSTRUCTORA FRANCO</option>
                    <option value="MCR INMOBILIARIA">MCR INMOBILIARIA</option>
                    <option value="TORATTO GRUPO INMOBILIARIO">TORATTO GRUPO INMOBILIARIO</option>
                    <option value="BESCO">BESCO</option>
                    <option value="TER EDIFICACIONES">TER EDIFICACIONES</option>
                    <option value="CALICANTO">CALICANTO</option>
                    <option value="VERONES">VERONES</option>
                    <option value="PROMSAL">PROMSAL</option>
                    <option value="ROSIAM">ROSIAM</option>
                    <option value="JK INMOBILIARIA">JK INMOBILIARIA</option>
                    <option value="LIBRE">LIBRE</option>
                    <option value="VMG">VMG</option>
                    <option value="DARO">DARO</option>
                    <option value="STELLA INMOBILIARIA">STELLA INMOBILIARIA</option>
                    <option value="CCAA17">CCAA17</option>
                    <option value="PRAGA DESARROLLO">PRAGA DESARROLLO</option>
                    <option value="MAAS INMOBILIARIA">MAAS INMOBILIARIA</option>
                    <option value="S&M INOBILIARIA ">S&M INOBILIARIA </option>
                    <option value="TALE ">TALE </option>
                  </select>
                                </div>
                            </div>
                        </ion-item>
                    </ion-card>

                    <ion-card class="contrasena" *ngIf="rolAdmin=='admin'">
                        <ion-item>
                            <div class="title-section-container tcard">
                                <div class="title-arrow">
                                    <label>Contraseña*</label>
                                </div>
                                <div class="title-arrow npt">
                                    <input type="password" style="width:100%;" name="password" [(ngModel)]="password">
                                </div>
                            </div>
                        </ion-item>
                    </ion-card>
                    <ion-card class="admin-asociado" *ngIf="rol=='admin' && !currentUser " >
                        <ion-item style="width: 50%;">
                            <ion-label class="toggle-admin">Admin</ion-label>
                            <ion-toggle [checked]='isAdmin' (ionChange)='changePerfil()'></ion-toggle>

                        </ion-item>
                        <div *ngIf="isAdmin" #msg class="text-admin">Este asociado tendra privilegios de administrador</div>
                        <div *ngIf="!isAdmin" #msg class="text-admin"></div>

                    </ion-card>
                    <ion-card class="admin-asociado" *ngIf="rol=='ASOCIADO' && currentUser">
                        <ion-item style="width: 50%;">
                            <ion-label class="toggle-admin">Administrador</ion-label>
                            <ion-toggle [disabled]='true' [checked]='true'></ion-toggle>

                        </ion-item>
                        <div class="text-admin"> Usted tiene privilegios de Administrador</div>
                    </ion-card>
                    <br>
                    <ion-card class="campob">
                        <ion-item *ngIf="rolAdmin=='admin'">
                            <div class="title-section-container tcard">
                                <div class="title-arrow">
                                    <label>Campos obligatorios(*)</label>
                                </div>
                            </div>
                        </ion-item>
                    </ion-card>

                    <ion-item>
                        <div class="actions-page no-mobil">
                            <button class="btn-new-item" type="submit" *ngIf="rolAdmin=='admin'" >
                                <span>Guardar</span>
                            </button>
                        </div>
                    </ion-item>

                </ion-card>
            </form>
        </div>
    </div>
    <app-footer></app-footer>
</ion-content>