<div class="social-links">
    <ion-tab-button href="#" target="_blank" class="social-link">
        <ion-icon class="social-icon" name="logo-facebook"></ion-icon>
    </ion-tab-button>
    <ion-tab-button href="#" target="_blank" class="social-link">
        <ion-icon class="social-icon" name="logo-instagram"></ion-icon>
    </ion-tab-button>
    <ion-tab-button href="#" target="_blank" class="social-link">
        <ion-icon class="social-icon" name="logo-linkedin"></ion-icon>
    </ion-tab-button>
    <ion-tab-button href="#" target="_blank" class="social-link">
        <ion-icon class="social-icon" name="logo-youtube"></ion-icon>
    </ion-tab-button>
</div>