<div class="social-links">
  <ion-router-link href="#" target="_blank" class="social-link">
      <ion-icon class="social-icon" name="logo-facebook"></ion-icon>
  </ion-router-link>
  <ion-router-link href="#" target="_blank" class="social-link">
      <ion-icon class="social-icon" name="logo-instagram"></ion-icon>
  </ion-router-link>
  <ion-router-link href="#" target="_blank" class="social-link">
      <ion-icon class="social-icon" name="logo-linkedin"></ion-icon>
  </ion-router-link>
  <ion-router-link href="#" target="_blank" class="social-link">
      <ion-icon class="social-icon" name="logo-youtube"></ion-icon>
  </ion-router-link>
</div>