<ion-content class="content-section" >
  <div class="layout-section" >
    <div class="container">
      <div class="row-actions-top">
          <div class="title-section-container">
            <div class="title-arrow">
               <!-- Flecha a la izquierda -->
               <div class="left-arrow" (click)="volverFerias()">
                <ion-icon name="arrow-back-outline"></ion-icon>
              </div>

              <div class="title">
                <h3 class="title-section color-news">Ferias</h3>
                <p class="subtitle-section color-news">Revisa nuestras ferias inmobiliarias recientes y pasadas</p>
              </div>
          </div>
        </div>
      </div>
    </div>

    <ion-grid class="section-grid">
      <div class="info-anniversary" style="display: flex;flex-wrap: wrap;">
        <div class="modal-anniversary" >
          <div class="content-img" style="max-width: 50%;">
              <img src="{{ URL + '/' + feriasData?.imagenes[0].RUTA }}">
          </div>
  
          <div class="content-title-date">
              <h4 class="title-anniversary">{{ feriasData?.titulo }}</h4>
  
              <div class="date">
                <ion-icon class="icon-calendar" name="calendar-outline"></ion-icon>
                  <p>{{ feriasData?.fecha_inicio }}</p>
              </div>
              <div class="stars-btn">
                <p (click)="openDialogCalificacion()">Calificación</p>
                <ion-icon class="stars" name="star"></ion-icon>
                <ion-icon class="stars" name="star"></ion-icon>
                <ion-icon class="stars" name="star"></ion-icon>
                <ion-icon class="stars" name="star"></ion-icon>
                <ion-icon class="stars" name="star-outline"></ion-icon>
                <p class="number-stars">4.5</p>
              </div>
          </div>

          <div [innerHTML]="feriasData?.resumen">
            <h3>{{ feriasData?.resumen}}</h3>
          </div>
          <div>
            <h3></h3>
          </div>
          
          <div [innerHTML]="feriasData?.texto">
            <p>{{ feriasData?.texto}}</p>
          </div>
            
         
              
          <!-- <div class="link-original">
              <p>Ver en la pagina original</p>
          </div> -->

          <div class="content-link">
            <div class="title">
              <p>Enlaces</p>
            </div>

            <div class="content-link-2">
              <div class="link-1 link-all" *ngFor="let item of links">
                <ion-icon class="icon-link" name="link-outline"></ion-icon>
                <a target="_blank" href="{{item}}">
                  {{item}}
                </a>
              </div>
            </div>
          </div>
          <div class="btn-return">
            <input type="button" value="Regresar" class="btn-return_" (click)="volverFerias()">
          </div>
        </div>

        <app-dialog *ngIf="dialogCalificacion" [dialog]="dialogCalificacion" [width]="300" [height]="270" (closeDialogEv)="closeDialogCalificacion()">
          <div class="body-dialog">
            <div class="modal-stars">
              <p class="mainn">¿Te resultó útil la noticia?</p>
              <p>Califica</p>
    
    
              <rating
            readonly="false"
            size="default" 
            (rateChange)="onRateChange($event)"
            (ngModelChange)="onRateChange($event)">
              </rating>
    
              <!-- <div class="stars">
                <ion-icon class="stars-btn" name="star"></ion-icon>
                <ion-icon class="stars-btn" name="star"></ion-icon>
                <ion-icon class="stars-btn" name="star"></ion-icon>
                <ion-icon class="stars-btn" name="star"></ion-icon>
                <ion-icon class="stars-btn" name="star-outline"></ion-icon>
              </div> -->
    
              <div class="content-btn">
                <button>Guardar</button>
              </div>
            </div>
          </div>
        </app-dialog>
    
    
  
        <app-more-news [news_child]="NewsData" [title]="Title"></app-more-news>
      </div>
    </ion-grid>
  </div>
</ion-content>