<!-- slider -->
<div class="slider-img">
  <div class="img-slider" (click)="openDialogNews()">
    <img src="../../../../assets/img/news-img.png">

    <div class="arrow-left">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </div>

    <div class="arrow-right">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>

    <!-- Admin -->
    <div class="admin-edit">
      <div class="edit">
        <ion-icon name="pencil-outline"></ion-icon>
      </div>

      <div class="delete">
        <ion-icon name="trash"></ion-icon>
      </div>
    </div>

    <div class="circle-slider">
      <ion-icon class="btn-slider" name="ellipse"></ion-icon>
      <ion-icon class="btn-slider" name="ellipse"></ion-icon>
      <ion-icon class="btn-slider" name="ellipse"></ion-icon>
      <ion-icon class="btn-slider" name="ellipse"></ion-icon>
      <ion-icon class="btn-slider" name="ellipse"></ion-icon>
    </div>
  </div>

  <div class="content-text">
    <div class="title-text">
      <div class="title">
          <h5>La apuesta inmobiliaria de quienes cancelaron viajes por vacaciones debido al covid 19</h5>
      </div>
      
      <div class="date-text">
          <p>01 de Enero 2021</p>
      </div>
    </div>
        
    <p class="none-mobile">Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones de tipografías 
    o de borradores de diseño para probar el diseño visual antes de insertar el texto final. Lorem ipsum 
    es el texto que se usa habitualmente en diseño gráfico en demostraciones de tipografías o de borradores 
    de diseño para probar el diseño visual antes de insertar el texto final.</p>

    <div class="btn-like">
      <button class="none-mobile" (click)="openDialogNews()">Ver nota</button>

      <div class="like-btn">
          <ion-icon name="thumbs-up"></ion-icon>

          <p class="points">0</p>
      </div>
    </div>
  </div>
</div>
<!-- fin slider -->