<ion-content class="content-section">
  <div class="layout-section">
    <div class="container">
        <div class="row-actions-top">
            <div class="title-section-container">
              <div class="title-arrow">
                <!-- Flecha a la izquierda -->
                <div class="left-arrow">
                  <ion-icon name="arrow-back-outline"></ion-icon>
                </div>

                <div class="title">
                  <h3 class="title-section color-news">Crear Curso</h3>
                  <p class="subtitle-section color-news">Completa la información correspondiente al curso</p>
                </div>
              </div>
            </div>
        </div>
    </div>

    <ion-grid class="section-grid">
      <div class="form-cursos">
        <form action="" class="content-form">
          <div class="first-form">
            <div class="subtitle">
              <h4>Datos del curso</h4>
            </div>

            <div class="title-course">
              <label for="title-course">Título del curso</label>
              <textarea name="" id="title-course"></textarea>
            </div>
  
            <div class="summary">
              <label for="summary-course">Resumen del curso</label>
              <textarea name="" id="summary-course"></textarea>
            </div>
  
            <div class="objective">
              <label for="objective-course">Objetivo del curso</label>
              <textarea name="" id="objective-course"></textarea>
            </div>
            

            <div class="duration">
              <div class="label">
                <label for="time-course">Duración</label>
              </div>
              <div class="time">
                <input type="time" id="time-course">
                <p>Horas</p>
              </div>
            </div>

            <p class="foto">Seleccione imagen</p>
            <div class="img-course">
              <div class="content-img">
                <img src="" alt="">
              </div>
              
              <div class="image">
                <p>Seleccione imagen</p>
                <input type="file" title="Seleccione imagen" accept="image/*" name="" id="">
              </div>
            </div>
          </div>

          <div class="second-form">
            <div class="subtitle second-subtitle">
              <h4>Datos del capacitador(es)</h4>
              <!-- web -->
              <div class="btn">
                <div class="delete">
                  <ion-icon name="trash"></ion-icon>
                </div>
  
                <div class="actions-page">
                  <button class="btn-new-item">
                      <span>Nuevo capacitador</span>
                      <ion-icon class="icon-btn" name="add"></ion-icon>
                  </button>
                </div>
              </div>
  
              <!-- mobil -->
              <div class="actions-page plus-btn">
                <div class="delete">
                  <ion-icon name="trash"></ion-icon>
                </div>
  
                <button class="btn-new-item">
                    <ion-icon class="icon-btn" name="add"></ion-icon>
                </button>
              </div>
            </div>

            <div class="all-trainer">
              <h5>Primer capacitador</h5>

              <div class="name">
                <label for="name-trainer">Nombre Completo</label>
                <textarea name="" id="name-trainer"></textarea>
              </div>

              <div class="summary-trainer">
                <label for="summary-trainer">Resumen del capacitador</label>
                <textarea name="" id="summary-trainer"></textarea>
              </div>

              <p class="foto">Foto de perfil</p>
              <div class="img-trainer">
                <div class="content-img">
                  <img src="" alt="">
                </div>
                
                <div class="image">
                  <p>Seleccione imagen</p>
                  <input type="file" title="Seleccione imagen" accept="image/*" name="" id="">
                </div>
              </div>
            </div>
            
            <!-- <div class="all-trainer">
              <h5>Segundo capacitador</h5>

              <div class="name">
                <label for="name-trainer-2">Nombre Completo</label>
                <textarea name="" id="name-trainer-2"></textarea>
              </div>

              <div class="summary-trainer">
                <label for="summary-trainer-2">Resumen del capacitador</label>
                <textarea name="" id="summary-trainer-2"></textarea>
              </div>

              <p class="foto">Foto de perfil</p>
              <div class="img-trainer">
                <div class="content-img">
                  <img src="" alt="">
                </div>
                
                <div class="image">
                  <p>Seleccione imagen</p>
                  <input type="file" title="Seleccione imagen" accept="image/*" name="" id="">
                </div>
              </div>
            </div> -->
          </div>

          <div class="third-form">
            <div class="subtitle third-subtitle">
              <h4>Sesiones</h4>
              <!-- web -->
              <div class="btn">
                <div class="delete">
                  <ion-icon name="trash"></ion-icon>
                </div>
  
                <div class="actions-page">
                  <button class="btn-new-item">
                      <span>Nueva Sesión</span>
                      <ion-icon class="icon-btn" name="add"></ion-icon>
                  </button>
                </div>
              </div>
  
              <!-- mobil -->
              <div class="actions-page plus-btn">
                <div class="delete">
                  <ion-icon name="trash"></ion-icon>
                </div>
  
                <button class="btn-new-item">
                    <ion-icon class="icon-btn" name="add"></ion-icon>
                </button>
              </div>
            </div>

            <div class="all-session">
              <h5>Sesión 1</h5>

              <div class="name">
                <label for="name-session">Nombre de la sesión</label>
                <textarea name="" id="name-session"></textarea>
              </div>

              <div class="link">
                <label for="link-session">Link de la sesión</label>
                <textarea name="" id="link-session"></textarea>
              </div>
            </div>
            
            <!-- <div class="all-session">
              <h5>Sesión 2</h5>

              <div class="name">
                <label for="name-session-2">Nombre de la sesión</label>
                <textarea name="" id="name-session-2"></textarea>
              </div>

              <div class="link">
                <label for="link-session-2">Link de la sesión</label>
                <textarea name="" id="link-session-2"></textarea>
              </div>
            </div> -->

            <div class="link-active">
              <label for="active-note-2">Enviar notificaciones push</label>
              <input type="checkbox" name="" id="active-note-2">
              <label class="check-note" for="active-note-2"></label>
            </div>
          </div>

          <div class="content-btn">
            <button>Guardar</button>
          </div>
        </form>
      </div>
    </ion-grid>
  </div>
  <app-footer></app-footer>
</ion-content>
