.options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.options ion-button {
    text-transform: none;
    --background: white;
    color: #24344D;
    --border-radius: 20px 20px 0px 0px;
    width: 35%;
    height: 40px;
    font-size: 16px;
    margin: .7vw;
    font-family: Calibri;
    font-weight: 400;
    width: fit-content;
}

.options ion-button.active {
    border-bottom: 6px solid #DF8708;
    color: #DF8708;
    width: 45%;
}

.mod2,
.asoc2,
.colab2 {
    display: none;
}

@media (max-width: 600px) {
    .state-off {
        display: block;
    }
    .card-state {
        display: none;
    }
    .card-arrow {
        width: 20%;
        // padding-left:1em;
    }
    .card-photo {
        width: 20%;
    }
    .mod2,
    .asoc2,
    .colab2 {
        display: block;
    }
    .mod1,
    .asoc1,
    .colab1 {
        display: none;
    }
    .card-info {
        width: 60%;
        font-size: .6em;
    }
    .card-info .name {
        font-weight: bold;
        font-size: 1.2em;
    }
    ion-grid.section-grid {
        background-color: white;
    }
    .options ion-button {
        width: 35%;
        height: 5vh;
        font-size: 10px;
        margin: .7vw;
    }
    .search-courses {
        display: block !important;
        margin: 2%;
    }
    .options2 {
        padding-left: 0px !important;
        width: 100% !important;
    }
    .options2 select {
        width: 50% !important;
        font-size: 12px !important;
        color: #828282;
    }
    .options2 .actions-page.no-mobil {
        width: 33% !important;
        font-size: 12px !important;
    }
    .btn-new-item .icon-btn {
        font-size: 22px !important;
    }
    .btn-new-item span {
        font-size: 12px !important;
    }
    .options2 .actions-page.no-mobil button {
        width: 100% !important;
    }
    .container .title-section {
        font-size: 17px !important;
    }
    .container .subtitle-section {
        font-size: 11px !important;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 1140px !important;
    }
}

.options2 {
    display: flex;
    width: 50%;
    // padding-left:5vw;
}

@media (min-width: 1200px) {
    .container {
        max-width: 98% !important;
    }
    // .options2{
    //     padding-left:5vw !important;
    // }
}

.title-section-container {
    padding-left: 1.5em;
}

// ion-grid.section-grid{
//     background-color:rgba(36, 52, 77, 0.73);
// }
.layout-section {
    padding: 1.5em 0em;
}

.section-grid .news-courses .input-search.no-user {
    margin: 0.7em 0;
    margin-right: .5vw;
}

select {
    margin: 1em 0;
    margin-right: .5vw;
}

.btn-new-item {
    padding: 0.6em 1.5em !important;
}

.search-courses button {
    margin-left: .5vw;
}

.container {
    margin: 0vw 1.5vw;
}

select {
    color: #24344D;
    // font-size:15px;
    // margin-left:22vw;
    margin-right: .5vw;
    margin-left: .5vw;
}

.section-grid .news-courses .input-search {
    display: flex;
    align-items: center;
    margin: 0.6em 0;
    width: 100%;
    position: relative;
}

@media (min-width: 768px) {
    .section-grid .news-courses .input-search {
        width: 50%;
    }
}

.section-grid .news-courses .input-search .search-btn {
    color: #24344D;
    position: absolute;
    right: 0;
    margin-right: 0.5em;
}

@media (min-width: 900px) {
    .actions-page.no-mobil {
        display: inline;
    }
    .actions-page.no-mobil .btn-new-item {
        background-color: #24344D;
        color: white;
        border: none;
    }
    .search-courses .actions-page.no-mobil .icon-btn {
        color: white !important;
        font-size: 20px !important;
    }
    .options2 {
        display: flex;
        width: 50%;
        //padding-left:5vw;
    }
}

.actions-page.no-mobil {
    margin: auto;
}

.section-grid {
    margin: 0% 4%;
    padding: 1% 0%;
    padding-top: 0%;
}

.section-grid .courses {
    padding: 1% 0%;
}

.container .title-section {
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.container .subtitle-section {
    color: #828282;
    font-style: italic;
}