<div class="all-trainer">
  <h5>Capacitador</h5>
  <div class="row">
    <div class="col-md-4" style="text-align: center;">
      <div class="containerimg">
        <img src="http://api.blogingenieria.site/uploads/img/esbwqkwxmaaasb5.jpg" alt="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="name">
        <label for="name-trainer">Nombre Completo:</label>
        <h2>Jose manrique</h2>
      </div>
      <div class="summary-trainer">
        <label for="summary-trainer">Resumen del capacitador:</label>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam eligendi perferendis, sapiente placeat iure sed molestias ipsum beatae eveniet quo officia earum, maxime quam tenetur nostrum dolorum vero quae voluptatem?</p>
      </div>
    </div>
    <div class="col-md-2" style="padding-top: 30px;">
      <div class="delete">
        <ion-icon name="trash"></ion-icon>
      </div>
    </div>
  </div>
  <hr>
</div>
