
<div class="container-list-bulletin" >
 
    <ion-list class="bulletin-list" *ngFor="let year of years_child; index as i; let first = first">
        <li class="item {{ first ? 'active' : '' }}">
            <div class="principal-item">
                <button (click)="toggleSubMenu(i)" class="button-sub-menu">
                    <ion-icon class="icon-sub-menu" name="chevron-forward-outline"></ion-icon>
                </button>
                <div class="bulletin-title">
                    Boletin {{ year }}
                </div>
            </div>
            <div class="sub-menu" *ngFor="let bulletin of bulletin_child; index as j">
                <div *ngIf="bulletin.year == year">
                    <div class="sub-item">
                        <a href="{{ bulletin.link }}" target="_blank">
                            {{ bulletin.title }} 
                        </a>
                        <div class="actions">
                            <!-- <button class="btn-outline-primary btn-bulletin-download" (click)="downloadfile(j)">
                                <ion-icon name="cloud-download-outline"></ion-icon>
                            </button> -->
                            <a href="{{ bulletin.link }}" download="linkName" target="_blank">
                                <button class="btn-outline-primary btn-bulletin-download">
                                    <ion-icon name="eye-outline"></ion-icon> 
                                </button>
                            </a>
                            <button *ngIf="rol=='admin'" class="btn-outline-primary btn-bulletin-download" (click)="editItem(bulletin.id, bulletin.title, bulletin.month, bulletin.year, bulletin.link)">
                                <ion-icon name="create-outline"></ion-icon>
                            </button>
                            <button *ngIf="rol=='admin'" class="btn-outline-primary btn-bulletin-download" (click)="deleteItem(bulletin.id)">
                                <ion-icon name="trash-outline"></ion-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <!-- <li class="item">
            <div class="principal-item">
                <button class="button-sub-menu">
                    <ion-icon class="icon-sub-menu" name="chevron-forward-outline"></ion-icon>
                </button>
                <div class="bulletin-title">
                    Boletin 2020
                </div>
            </div>
            <div class="sub-menu">
                <div class="sub-item">
                    <span>Boletin Enero 2019</span>
                    <div class="actions">
                        <button class="btn-bg-primary btn-bulletin-download">
                    <ion-icon name="cloud-download-outline"></ion-icon>
                </button>
                        <button class="btn-outline-primary btn-bulletin-download">
                    <ion-icon name="eye-outline"></ion-icon>
                </button>
                    </div>
                </div>

            </div>
        </li> -->
    </ion-list>

</div>
