<div class="cards-doc">
  <ion-card>
    <div class="content-img">
      <img src="../../../../assets/img/pdf.png" alt="">
    </div>

    <div class="content-info">
      <div class="title-doc"> 
        <span>Boleta de pago Enero 2021</span>
      </div>

      <div class="subtitle-doc">
        <span>Luisa Liza Perez Jimena</span>
      </div>

      <div class="cloud-btn">
        <ion-icon name="cloud-download"></ion-icon>
      </div>
    </div>
  </ion-card>
  
  <ion-card>
    <div class="content-img">
      <img src="../../../../assets/img/pdf.png" alt="">
    </div>

    <div class="content-info">
      <div class="title-doc"> 
        <span>Boleta de pago Enero 2021</span>
      </div>

      <div class="subtitle-doc">
        <span>Luisa Liza Perez Jimena</span>
      </div>

      <div class="cloud-btn">
        <ion-icon name="cloud-download"></ion-icon>
      </div>
    </div>
  </ion-card>

  <ion-card>
    <div class="content-img">
      <img src="../../../../assets/img/pdf.png" alt="">
    </div>

    <div class="content-info">
      <div class="title-doc"> 
        <span>Boleta de pago Enero 2021</span>
      </div>

      <div class="subtitle-doc">
        <span>Luisa Liza Perez Jimena</span>
      </div>

      <div class="cloud-btn">
        <ion-icon name="cloud-download"></ion-icon>
      </div>
    </div>
  </ion-card>

  <ion-card>
    <div class="content-img">
      <img src="../../../../assets/img/pdf.png" alt="">
    </div>

    <div class="content-info">
      <div class="title-doc"> 
        <span>Boleta de pago Enero 2021</span>
      </div>

      <div class="subtitle-doc">
        <span>Luisa Liza Perez Jimena</span>
      </div>

      <div class="cloud-btn">
        <ion-icon name="cloud-download"></ion-icon>
      </div>
    </div>
  </ion-card>

  <ion-card>
    <div class="content-img">
      <img src="../../../../assets/img/pdf.png" alt="">
    </div>

    <div class="content-info">
      <div class="title-doc"> 
        <span>Boleta de pago Enero 2021</span>
      </div>

      <div class="subtitle-doc">
        <span>Luisa Liza Perez Jimena</span>
      </div>

      <div class="cloud-btn">
        <ion-icon name="cloud-download"></ion-icon>
      </div>
    </div>
  </ion-card>
  
  <ion-card>
    <div class="content-img">
      <img src="../../../../assets/img/pdf.png" alt="">
    </div>

    <div class="content-info">
      <div class="title-doc"> 
        <span>Boleta de pago Enero 2021</span>
      </div>

      <div class="subtitle-doc">
        <span>Luisa Liza Perez Jimena</span>
      </div>

      <div class="cloud-btn">
        <ion-icon name="cloud-download"></ion-icon>
      </div>
    </div>
  </ion-card>
</div>