<ion-content class="content-section">
  <app-navigation-tabs></app-navigation-tabs>
  <div class="layout-section">
    <div class="container">
        <div class="row-actions-top">
            <div class="title-section-container">
                <div class="title-arrow">
                  <!-- Flecha a la izquierda -->
                  <div class="left-arrow" (click)="volverInfo()">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                  </div>
  
                  <div class="title">
                    <h3 class="title-section color-news">Calendario</h3>
                    <p class="subtitle-section color-news">Revisa aqui el cronograma de las ultimas actividades</p>
                  </div>
                </div>
            </div>
        </div>   
    </div>
    <div >
      <ion-label class="item-input-inset" >Desde: </ion-label>
        <ion-button size="small" color="light" slot="secondary">
          <ion-datetime class="picker-wrapper" class="sc-ion-picker-md" displayFormat="DD-MM-YYYY" placeholder="dd-mm-aaaa" (ionChange) = "fechaInicioTxt($event)" ></ion-datetime>
            <ion-icon slot="end" name="calendar-clear-outline"></ion-icon>
        </ion-button>
        <ion-label class="item-input-inset" >Hasta: </ion-label>
          <ion-button size="small" color="light" slot="secondary">
            <ion-datetime displayFormat="DD MM YYYY" placeholder="dd-mm-aaaa" (ionChange) = "fechaFinTxt($event)" ></ion-datetime>
              <ion-icon slot="end" name="calendar-clear-outline"></ion-icon>
          </ion-button>

          <ion-button size="small" color="light" slot="primary" (click)="search_()" >
              <ion-icon slot="start" name="search-outline"></ion-icon>
          </ion-button>
    </div>
    <ion-grid >
        <div >
         <app-card-calendario *ngFor="let item of calendarioData?.notes" [news_child]="item" (idCalendar)="openCalendario_($event)">
         </app-card-calendario>
        </div>
    </ion-grid>
      <div>
      <app-paginador [paginas]="pages" [pagina]="currentpage" (number_page)="changepage_($event)"></app-paginador>
      </div>
  </div>
  <app-footer></app-footer>
</ion-content>