<ion-content class="content-section">
  <app-navigation-tabs></app-navigation-tabs>
  <div class="layout-section">
    <div class="container">
        <div class="row-actions-top">
            <div class="title-section-container">
                <div class="title-arrow">
                  <!-- Flecha a la izquierda -->
                  <div class="left-arrow" (click)="volverInfo()">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                  </div>
  
                  <div class="title">
                    <h3 class="title-section color-news">Calendario</h3>
                    <p class="subtitle-section color-news">Revisa aqui el cronograma de las ultimas actividades</p>
                  </div>
                </div>
            </div>
        </div>   
    </div>
                    <div>
                      <ion-label>Desde: </ion-label>
                        <ion-button size="small" color="light" slot="secondary">
                          <ion-datetime displayFormat="DD MM YYYY" placeholder="dd/mm/aaaa" ></ion-datetime>
                             <ion-icon slot="end" name="calendar-clear-outline"></ion-icon>
                        </ion-button>
                      <ion-label>Hasta: </ion-label>
                        <ion-button size="small" color="light" slot="secondary">
                           <ion-datetime displayFormat="DD MM YYYY" placeholder="dd/mm/aaaa" ></ion-datetime>
                            <ion-icon slot="end" name="calendar-clear-outline"></ion-icon>
                         </ion-button>
                        </div>
  </div>
  <app-footer></app-footer>
</ion-content>