<!-- buscador -->

<div class="content-search">

    <div class="input-search">
        <input type="search"name="" id="" class="buscatxt" placeholder="Buscar" (keyup.enter)="search()">
        <button (click)="search()">
      <ion-icon class="search-btn" name="search-outline"></ion-icon>
    </button>
    </div>
    <!-- <div class="date-start no-mobil">
        <input type="date" name="" id="">
    </div>

    <div class="date-end no-mobil">
        <input type="date" name="" id="">
    </div> -->

    <!-- Admin -->
    <div class="actions-page no-mobil">
        <button class="btn-new-item" (click)="createSection()">
        <span>Crear</span>
        <ion-icon class="icon-btn" name="add-circle"></ion-icon>
    </button>
    </div>
</div>

<!-- fin de buscador -->