<ion-content class="content-section">
    <app-navigation-tabs></app-navigation-tabs>
    <div class="layout-section">
        <div class="container">
            <div class="row-actions-top">
                <div class="title-section-container">
                    <div class="title-arrow">
                        <!-- Flecha a la izquierda -->
                        <div class="left-arrow" (click)="volverInfo()">
                            <ion-icon name="arrow-back-outline"></ion-icon>
                        </div>

                        <div class="title">
                            <h3 class="title-section color-news">Aniversarios Publicados</h3>
                            <p class="subtitle-section color-news">Revisa aqui los aniversarios más destacados de ASEI</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Admin -->
            <!-- <div class="actions-page">
                <button class="btn-new-item" (click)="createDialogAnniversary()">
                    <span>Crear</span>
                    <ion-icon class="icon-btn" name="add"></ion-icon>
                </button>
            </div> -->
        </div>

        <ion-grid class="section-grid">
            <div class="news-grid">
                <!-- <div class="date-year">
                    <h3>Enero 2021</h3>
                </div> -->

                <!-- <app-card-slider></app-card-slider> -->




                <app-buscador (buscatxt)="search_($event)"></app-buscador>

                <div class="recent-news">
                    <h3></h3>
                </div>

                <div class="cards-news">
                    <app-card-items *ngFor="let item of aniversarioData?.notes" [news_child]="item" (idNews)="openAniversarios_($event)" (idNewsE)="editAniversarios_($event)" (idNewsR)="removeAniversarios_($event)">

                    </app-card-items>
                </div>

                <app-paginador [paginas]="pages" [pagina]="currentpage" (number_page)="changepage_($event)"></app-paginador>
            </div>

        </ion-grid>


    </div>
    <app-footer></app-footer>
</ion-content>