.resumen_tab,
.objetivos_tab,
.capacitadores_tab{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
}
.resumen_tab h1,
.objetivos_tab h1,
.capacitadores_tab h1{
    font-size: 35px;
    font-weight: bold;
    color: #3c3b37 !important;
}
ion-row{
    background: #f5f5f5;
}
.display-none{
    display: none !important;
}
.content_tab__{
    --background: #f5f5f5;
}
.header-course{
    padding-left: 80px;
    padding-right: 80px;
}
.crear_curso{
    --border-radius: 10px;
    --background: #24344D;
}
.more-icon{
    margin-left: 10px;
}
.left-header{
    text-align: left;
}
.right-header{
    text-align: right;
}
.player_section{
    padding-top: 0;
    padding-bottom: 0px;
    padding-left: 80px;
    padding-right:0;
}
.playlist{
    padding-left: 0px;
    padding-right: 80px;
    padding-top: 0;
}
.sesiones_tab{
    display: none;
}
.resumen_tab{
    position: relative;
    top: 60px;
    display: block;
}
.playlist_tab{
    display: none ;
}
.objetivos_tab,
.capacitadores_tab,
.playlist_tab{
    position: relative;
    top: 60px;
}
@media screen and (max-width: 600px) {
    .player_section{
        padding-left: 0px;
    }
    .playlist{
        padding-right: 0px;
    }
    .header-course{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media screen and (max-width: 990px) {
    .player_section{
        padding-left: 0px;
    }
    .playlist{
        display: none;
        padding-right: 0px;
    }
    .sesiones_tab{
        display: block;
    }
    .playlist_tab{
        display: block;
    }
    .resumen_tab,
    .objetivos_tab,
    .capacitadores_tab{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
    }
    .resumen_tab h1,
    .objetivos_tab h1,
    .capacitadores_tab h1{
        font-size: 25px;
        font-weight: bold;
    }
}

/* altura */
@media screen and (min-height: 568px){
    .content_tab__{
        height: 198px;
    }
    .playlist_tab{
        position: relative;
        top: 56px;
    }
}
@media screen and (min-height: 640px){
    .content_tab__{
        height: 248px;
    }
    .playlist_tab{
        position: relative;
        top: 56px;
    }
}
@media screen and (min-height: 667px){
    .content_tab__{
        height: 266px;
    }.playlist_tab{
        position: relative;
        top: 56px;
    }
}
@media screen and (min-height: 731px){
    .content_tab__{
        height: 305px;
    }.playlist_tab{
        position: relative;
        top: 56px;
    }
}
@media screen and (min-height: 812px){
    .content_tab__{
        height: 367px;
    }.playlist_tab{
        position: relative;
        top: 56px;
    }
}

/* modal */

.overlay-1 {
    position: absolute;
    display: none;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(27, 37, 45, .75);
    backdrop-filter: blur(4px);
}

.modal-template {
    position: relative;
    box-shadow: 0 12px 22px 2px rgb(0 0 0 / 50%);
    padding: 20px;
    margin: auto;
    vertical-align: middle;
    max-width: 300px;
    background: #ffffff;
    margin-top: 12vh;
    text-align: center;
    border-radius: 5px;
    color: #000;
}

.modal-title,
.modal-subtitle {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.8rem;
}

.modal-content ion-button {
    --background: #f25115;
}

.modal-content ion-button ion-icon {
    margin-right: 10px;
}

.modal-title a,
.modal-subtitle a {
    color: #f25115;
    text-decoration: none;
    margin-left: 5px;
}

.close-modal {
    position: absolute;
    width: 260px;
    text-align: right;
}
ion-icon {
    pointer-events: all !important;
}
.close-btn {
    cursor: pointer !important;
}