.row-actions-top .title-section-container .title-arrow {
    display: flex;
    align-items: center;
}

.row-actions-top .title-section-container .title-arrow .left-arrow {
    display: flex;
    align-items: flex-start;
    font-size: 1.4em;
    color: #828282;
}

.row-actions-top .title-section-container .title-arrow .title {
    margin-left: 0.5em;
}

.row-actions-top .title-section-container .title-arrow .title p {
    font-family: Calibri;
    font-weight: 300;
    color: #828282;
    font-style: italic;
}

@media (min-width: 500px) {
    .info-courses {
        padding: 0 1.2em;
    }
}

@media (min-width: 700px) {
    .info-courses {
        padding: 0 1.8em;
    }
}

@media (min-width: 850px) {
    .info-courses {
        padding: 0 2.6em;
    }
}

@media (min-width: 1150px) {
    .info-courses {
        padding: 0 3.4em;
    }
}

@media (min-width: 1550px) {
    .info-courses {
        padding: 0 4.2em;
    }
}

@media (min-width: 1750px) {
    .info-courses {
        padding: 0 5.4em;
    }
}

@media (min-width: 2200px) {
    .info-courses {
        padding: 0 6.6em;
    }
}

.info-courses .content-info-trainers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 900px) {
    .info-courses .content-info-trainers {
        flex-direction: row;
    }
}

.info-courses .courses-title h4 {
    margin: 0;
    padding: 0;
    color: #24344D;
    font-family: 'Lucida Sans';
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 1em;
    margin-top: 1.5em;
}

@media (min-width: 768px) {
    .info-courses .courses-title h4 {
        font-size: 18px;
    }
}

@media (min-width: 950px) {
    .info-courses .courses-title h4 {
        margin-top: 0;
    }
}

.info-courses .content-description {
    display: flex;
    flex-direction: column;
    padding: 1em 2em 1.5em;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

@media (min-width: 900px) {
    .info-courses .content-description {
        flex-basis: calc(60% - 0.5em);
    }
}

.info-courses .content-description h4 {
    margin-top: 0;
}

.info-courses .content-description .content-img img {
    min-width: 100%;
}

.info-courses .content-description .data-course p {
    text-transform: uppercase;
    color: #24344D;
    font-size: 14px;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
    line-height: 15px;
}

@media (min-width: 500px) {
    .info-courses .content-description .content-info {
        padding: 0 0.5em 1em;
    }
}

.info-courses .content-description .content-text h5 {
    margin: 0;
    padding: 0;
    color: #24344D;
    font-family: 'Lucida Sans';
    font-weight: 600;
    font-size: 14px;
    margin: 0.8em 0;
}

.info-courses .content-description .content-text .clasificacion h5 {
    margin: 0;
}

@media (min-width: 768px) {
    .info-courses .content-description .content-text h5 {
        font-size: 15px;
    }
}

@media (min-width: 950px) {
    .info-courses .content-description .content-text h5:nth-child(1) {
        margin-top: 0;
    }
}

.info-courses .content-description .content-text p {
    font-size: 12px;
    font-family: Calibri;
    font-weight: 300;
    margin: 0;
    padding: 0;
    margin-top: 0.6em;
    padding-left: 1em;
    line-height: 20px;
}

@media (min-width: 768px) {
    .info-courses .content-description .content-text p {
        font-size: 15px;
    }
}

.info-courses .content-description .content-text .clasificacion {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.info-courses .content-description .content-text .clasificacion p {
    padding: 0;
    margin: 0;
    color: #24344D;
    font-weight: 600;
    font-size: 14px;
    margin-right: 1em;
}

.info-courses .content-description .content-text .clasificacion .stars-calificacion {
    margin-left: 0.5em;
    color: #DF8708;
}

.info-courses .trainers {
    margin-top: 1em;
    padding: 1em 2em;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}


@media (min-width: 900px) {
    .info-courses .trainers {
        flex-basis: calc(40% - 0.5em);
        margin-top: 0;
        height: 100%;
    }
}

.info-courses .trainers h4 {
    text-align: left;
    color: #24344D;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Lucida Sans';
    margin: 0;
    padding: 0;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.info-courses .card-trainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* @media (min-width: 768px) {
    .info-courses .card-trainer  {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2.5em;
    }
}
 */

.info-courses .card-trainer .content-card {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* @media (min-width: 768px) {
    .info-courses .card-trainer .content-card {
        margin: 0;
        flex-basis: calc(50% - 1em);
    }
} */

@media (min-width: 768px) {
    .info-courses .card-trainer .content-card {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 900px) {
    .info-courses .card-trainer .content-card {
        flex-direction: column;
    }
}

@media (min-width: 1200px) {
    .info-courses .card-trainer .content-card {
        flex-basis: calc(50% - 3em);
    }
}

.info-courses .card-trainer .content-card:last-child {
    margin-bottom: 0;
}

.info-courses .card-trainer .content-card .content-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    padding-bottom: 0.5em;
}

@media (min-width: 768px) {
    .info-courses .card-trainer .content-card .content-img {
        flex-basis: calc(50%);
        padding: 0.5em;
    }
}

@media (min-width: 900px) {
    .info-courses .card-trainer .content-card .content-img {
        padding: 1.5em;
        padding-bottom: 0.5em;
    }
}

@media (min-width: 1200px) {
    .info-courses .card-trainer .content-card .content-img {
        flex-basis: calc(40%);
    }
}

@media (min-width: 1400px) {
    .info-courses .card-trainer .content-card .content-img {
        flex-basis: calc(30%);
    }
}

@media (min-width: 1900px) {
    .info-courses .card-trainer .content-card .content-img {
        flex-basis: calc(20%);
    }
}

.info-courses .card-trainer .content-card .content-img img {
    border-radius: 50%;
    width: 6em;
    height: 6em;
    object-fit: cover;
}

.info-courses .card-trainer .content-card .content-info {
    padding: 1em 2em;
}

@media (min-width: 768px) {
    .info-courses .card-trainer .content-card .content-info {
        flex-basis: calc(50%);
        padding: 1em 1em 1em 0 ;
    }
}

@media (min-width: 900px) {
    .info-courses .card-trainer .content-card .content-info {
        padding: 1em 2em;
    }
}

@media (min-width: 1200px) {
    .info-courses .card-trainer .content-card .content-info {
        flex-basis: calc(60%);
    }
}

@media (min-width: 1400px) {
    .info-courses .card-trainer .content-card .content-info {
        flex-basis: calc(70%);
    }
}

@media (min-width: 1900px) {
    .info-courses .card-trainer .content-card .content-info {
        flex-basis: calc(80%);
    }
}

.info-courses .card-trainer .content-card .content-info h5 {
    color: #24344D;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Lucida Sans';
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .info-courses .card-trainer .content-card .content-info h5 {
        font-size: 15px;
    }
}

.info-courses .card-trainer .content-card .content-info p {
    color: #24344D;
    font-size: 12px;
    font-family: Calibri;
    font-weight: 300;
}

@media (min-width: 768px) {
    .info-courses .card-trainer .content-card .content-info p {
        font-size: 15px;
    }
}

.info-courses .content-courses-video {
    width: 100%;
}

@media (min-width: 900px) {
    .info-courses .content-courses-video {
        box-shadow: 0 4px 4px rgba(0,0,0,0.25);
        width: 60%;
        padding: 1em;
        margin-top: 1em;
    }
}

.info-courses .course-sessions h4 {
    margin: 0;
    padding: 0;
    color: #24344D;
    font-family: 'Lucida Sans';
    font-weight: 400;
    font-size: 16px;
    margin: 1.5em 0 1em;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .info-courses .course-sessions h4 {
        font-size: 20px;
        margin-top: 3em;
    }
}

@media (min-width: 900px) {
    .info-courses .course-sessions h4 {
        margin-top: 0.5em;
    }
}

.info-courses .all-session {
    margin-top: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .info-courses .all-session {
        flex-direction: row;
        justify-content: space-between;
    }
}

.info-courses .all-session .content-session {
    border: 1px solid #C4C4C4;
    overflow: hidden;
    margin-bottom: 1em;
    line-height: 0;
    letter-spacing: 0;
    position: relative;
    width: 100%;
}
/* 
@media (min-width: 768px) {
    .info-courses .all-session .content-session {
        flex-basis: calc(50% - 1em);
    }
}

@media (min-width: 1200px) {
    .info-courses .all-session .content-session {
        flex-basis: calc(50% - 3em);
    }
} */

.info-courses .all-session .content-session .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    overflow: hidden;
    z-index: 10;
}

.info-courses .all-session .content-session .title .icon-btn {
    font-size: 25px;
    font-weight: 600;
    z-index: 10;
    cursor: pointer;
}

.info-courses .all-session .content-session p {
    z-index: 10;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: Calibri;
    font-size: 15px;
    color: #24344D;
    text-align: center;
    padding: 1.5em 0;
    letter-spacing: normal;
    line-height: normal;
}

@media (min-width: 768px) {
    .info-courses .all-session .content-session p {
        font-size: 20px
    }
}

.info-courses .all-session .content-session .content-video {
    position: relative;
    width: 100%;
    height: 0em;
    transition: 0.5s ease;
    overflow: hidden;
}

.watch-video {
    height: 15em;
    transition: 0.5s ease;
}

.info-courses .all-session .content-session iframe {
    width: 100%;
    height: 15em;
    line-height: 0;
    letter-spacing: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Modal stars */
.modal-stars p {
    text-align: center;
    margin: 0;
    padding: 0;
    color: #24344D;
    font-family:Calibri;
}

.modal-stars p:nth-child(2) {
    margin-top: 0.5em;
    text-transform: uppercase;
}

.modal-stars .stars {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.modal-stars .stars .stars-btn {
    margin-right: 0.5em;
    color: #DF8708;
    font-size: 30px;

}

.modal-stars .stars .stars-btn:last-child {
    margin-right: 0;
}

.modal-stars .content-btn {
    margin-top: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal-stars .content-btn button {
    border: none;
    outline: none;
    background: #24344D;
    text-align: center;
    color: #fff;
    border-radius: 0.6em;
    padding: 1em;
    width: 15em;
    margin: 0 2em;
    cursor: pointer;
}

.modal-stars p{
    font-weight:400;
}

.modal-stars .mainn{
    font-weight:600;
}