<ion-content class="content-section">
  <div class="layout-section">
    <div class="container">
        <div class="row-actions-top">
            <div class="title-section-container">
              <div class="title-arrow">
                <!-- Flecha a la izquierda -->
                <div class="left-arrow">
                  <ion-icon name="arrow-back-outline"></ion-icon>
                </div>

                <div class="title">
                  <h3 class="title-section color-news">Cursos</h3>
                  <p class="subtitle-section color-news">Todos los cursos de ASEI</p>
                </div>
              </div>
            </div>
        </div>
    </div>

    <ion-grid class="section-grid">
      <div class="info-courses">
        <div class="content-info-trainers">
          <div class="content-description">
            <div class="courses-title">
              <h4>Curso: Protección al consumidor inmobiliario</h4>
            </div>
  
            <div class="content-img">
              <img src="../../../../../assets/img/course-1.png" alt="">
            </div>
  
            <div class="content-info">
              <div class="data-course">
                <p>Datos del curso</p>
              </div>
    
              <div class="content-text">
                <h5>Resumen</h5>
                <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled 
                it to make a type specimen book. It has survived not only five centuries, but also the leap into 
                electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the 
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
                software like Aldus PageMaker including versions of Lorem Ipsum</p>
                <h5>Objetivo</h5>
                <p>Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker 
                  including versions of Lorem Ipsum</p>
                <div class="clasificacion">
                  <h5>Clasificación</h5>
                  <div class="stars">
                    <ion-icon class="stars-calificacion" name="star"></ion-icon>
                    <ion-icon class="stars-calificacion" name="star"></ion-icon>
                    <ion-icon class="stars-calificacion" name="star"></ion-icon>
                    <ion-icon class="stars-calificacion" name="star"></ion-icon>
                    <ion-icon class="stars-calificacion" name="star-outline"></ion-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="trainers">
            <h4>Capacitadores</h4>
  
            <div class="card-trainer">
              <div class="card-1 content-card">
                <div class="content-img">
                  <img src="../../../../../assets/img/trainer-1.png" alt="">
                </div>
    
                <div class="content-info">
                  <div>
                    <h5>Mariella Pierina Rosmeri</h5>
                  </div>
                  
                  <div>
                    <p>ive centuries, but also the leap into electronic typesetting, remaining essentially 
                    unchanged. It was popularised in the 1960s with  including versions of Lorem Ipsum</p>
                  </div>
                </div>
              </div>
    
              <div class="card-2 content-card">
                <div class="content-img">
                  <img src="../../../../../assets/img/trainer-2.png" alt="">
                </div>
    
                <div class="content-info">
                  <div>
                    <h5>Mariella Pierina Rosmeri</h5>
                  </div>
                  
                  <div>
                    <p>ive centuries, but also the leap into electronic typesetting, remaining essentially 
                    unchanged. It was popularised in the 1960s with  including versions of Lorem Ipsum</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="content-courses-video">
          <div class="course-sessions" (click)="openDialogCalificacion()">
            <h4>Contenido del curso</h4>
          </div>
  
          <div class="all-session">
            <div class="session-1 content-session">
              <div class="title">
                <p>Sesión 1 :  Curso: Protección al consumidor inmobiliario</p>
                <ion-icon class="icon-btn" (click)="watchVideo(0)" name="chevron-down-outline"></ion-icon>
              </div>
  
              <div class="content-video">
                <iframe src="https://www.youtube.com/embed/LLtFq5Phc8g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
  
            <div class="session-2 content-session">
              <div class="title">
                <p>Sesión 2 :  Curso: Protección al consumidor inmobiliario</p>
                <ion-icon class="icon-btn" (click)="watchVideo(1)" name="chevron-down-outline"></ion-icon>
              </div>
  
              <div class="content-video">
                <iframe src="https://www.youtube.com/embed/LLtFq5Phc8g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
  
            <div class="session-2 content-session">
              <div class="title">
                <p>Sesión 3 :  Curso: Protección al consumidor inmobiliario</p>
                <ion-icon class="icon-btn" (click)="watchVideo(2)" name="chevron-down-outline"></ion-icon>
              </div>
  
              <div class="content-video">
                <iframe src="https://www.youtube.com/embed/LLtFq5Phc8g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-grid>

    <!-- Dialogo Calificacion - aparece cuando culminó el curso -->
    <app-dialog *ngIf="dialogCalificacion" [dialog]="dialogCalificacion" [width]="300" [height]="270" (closeDialogEv)="closeDialogCalificacion()">
      <div class="body-dialog">
        <div class="modal-stars">
          <p class="mainn">¡Felicitaciones, terminaste el curso!</p>
          <p>Calificar curso</p>


          <rating [rate]="rate"
        readonly="false"
        size="default" 
        (rateChange)="onRateChange($event)"
        (ngModelChange)="onRateChange($event)">
          </rating>

          <!-- <div class="stars">
            <ion-icon class="stars-btn" name="star"></ion-icon>
            <ion-icon class="stars-btn" name="star"></ion-icon>
            <ion-icon class="stars-btn" name="star"></ion-icon>
            <ion-icon class="stars-btn" name="star"></ion-icon>
            <ion-icon class="stars-btn" name="star-outline"></ion-icon>
          </div> -->

          <div class="content-btn">
            <button>Guardar</button>
          </div>
        </div>
      </div>
    </app-dialog>
  </div>
  <app-footer></app-footer>
</ion-content>