<ion-content>
  <ion-row>
    <ion-col size="12" size-lg="6" class="header-course left-header" style="padding-bottom: 0px;">
      <div class="title-section-container">
        <div class="title-arrow">
          <ion-row>
            <ion-col size="1">
              <!-- Flecha a la izquierda -->
              <div class="left-arrow" (click)="volverCursos()">
                <ion-icon name="arrow-back-outline"></ion-icon>
              </div>
            </ion-col>
            <ion-col>
              <div class="title">
                <h3 class="title-section color-news">Cursos</h3>
                <p class="subtitle-section color-news">Todos los cursos de ASEI</p>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <!-- content -->
  <ion-row>
    <ion-col size="12" size-md="12" size-lg="9" class="player_section">
      <app-videoplayer></app-videoplayer>
      <ion-content class="content_tab__">
        <ion-tabs>
          <!-- Tab bar -->
          <ion-tab-bar slot="top">
            <ion-tab-button tab="account" class="sesiones_tab">
              <ion-label>Sesiones</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="account">
              <ion-label>Resumen</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="contact">
              <ion-label>Objetivos</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="settings">
              <ion-label>Capacitadores</ion-label>
            </ion-tab-button>
          </ion-tab-bar>
        </ion-tabs>
        <div class="contenido">
          <div class="sesiones" style="display: none;" class="playlist_tab">
            <app-playlist></app-playlist>
          </div>
          <div class="resumen" class="resumen_tab">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi nam laboriosam ipsa totam voluptatem eveniet iure, facilis, error enim aperiam sint laborum, veritatis similique neque. Aliquam dolore ad architecto ducimus.
          </div>
          <div class="objetivos" style="display: none;">
            <h1>Objetivos</h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium cupiditate veniam, ipsa autem eos eveniet dolorem maiores recusandae hic! Dolor, dicta. Corrupti odit quas dolore mollitia molestiae sapiente doloremque repellendus.
          </div>
          <div class="capacitadores" style="display: none;">
            <h1>Capacitadores</h1>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, sunt beatae cupiditate eveniet sequi possimus culpa odio. Odio, rem laudantium nesciunt architecto repellat adipisci distinctio sunt ex illo qui praesentium!
          </div>
        </div>
      </ion-content>
    </ion-col>
    <ion-col size-lg="3" class="playlist">
      <app-playlist></app-playlist>
    </ion-col>
  </ion-row>

</ion-content>