<ion-content class="content-section">
  <app-navigation-tabs></app-navigation-tabs>
  <div class="layout-section">
    <div class="container">
        <div class="row-actions-top">
            <div class="title-section-container">
                <h3 class="title-section color-news">Noticias Recientes</h3>
                <p class="subtitle-section color-news">Revisa aqui las noticias mas destacadas de ASEI</p>
            </div>
        </div>

        <!-- Admin -->
        <div class="actions-page">
          <button class="btn-new-item" (click)="createNews()">
              <span>Crear</span>
              <ion-icon class="icon-btn" name="add"></ion-icon>
          </button>
        </div>  
    </div>

    <ion-grid class="section-grid" >
      <div class="news-grid">
        <div class="date-year">
          <h3>Enero 2021</h3>
        </div>
      
        <app-card-slider></app-card-slider>

        <div class="recent-news">
          <h3>Noticias Pasadas</h3>
        </div>

        <app-buscador></app-buscador>        

        
        <div class="cards-news" >
          <app-card-items *ngFor="let item of NewsData?.notes" [news_child]="item" (idNews)="openNew_($event)"> 
          </app-card-items>
        </div>
        
        <app-paginador></app-paginador>

      </div>
    </ion-grid>

    <!-- Crear noticia -->  
    <app-dialog *ngIf="dialogCreateNews" [dialog]="dialogCreateNews" [width]="1200" [height]="800" (closeDialogEv)="closeDialogInfo()"> 
          <div class="header-dialog">
            <!-- <div class="layout-section">
              <div class="container">
                <div class="row-actions-top"> -->
                  <div class="title-section-container">
                      <h3 class="title-section color-news">Crear Noticias</h3>
                      <p class="subtitle-section color-news">Completa la información correspondiente a la nota</p>
                  <!-- </div>
                </div>
              </div> -->
            </div>
          </div>
        
        <div class="body-dialog">
          <ion-grid class="section-grid">
            <form action="" class="inputs-create">
              <div class="title">
                <label for="title-note">Título de la nota</label>
                <textarea name="" id="title-note"></textarea>
              </div>
      
              <div class="summary">
                <label for="summary-note">Resumen de la nota</label>
                <textarea name="" id="summary-note"></textarea>
              </div>
      
              <div class="text">
                <label for="text-note">Texto de la nota</label>
                <textarea name="" id="text-note"></textarea>
              </div>
      
              <div class="link">
                <label for="link-note">Link de la nota</label>
                <textarea name="" id="link-note"></textarea>
              </div>
      
              <div class="content-date-admin">
                <div class="date">
                  <label for="date-note">Fecha de publicación</label>
                  <input type="date" name="" id="date-note">
                </div>
              </div>
      
              <div class="image">
                <p>Añade Imagen</p>
                <input type="file" title="Añade imagen" accept="image/*" name="" id="">
              </div>
      
              <div class="content-img"></div>
      
              <div class="link-active">
                <label for="active-note">Esta nota se vinculará con el calendario</label>
                <input type="checkbox" name="" id="active-note">
                <label class="check-note" for="active-note"></label>
              </div>
      
              <div class="btn-create">
                <div class="btn-return">
                  <button>Volver</button>
                </div>
      
                <div class="btn-add">
                  <button>Añadir</button>
                </div>
              </div>
            </form>
            </ion-grid>
          </div>
    </app-dialog>

    <!-- Dialogo Noticias -->
    <app-dialog *ngIf="dialogReadNews" [dialog]="dialogReadNews" [width]="1200" [height]="800" (closeDialogEv)="closeDialogInfo()">
      <div class="header-dialog">
        <div class="title-section-container">
          <h3 class="title-section">{{ isEdited ? 'Noticias Enero 2021' : 'Noticias Enero 2021' }}</h3>
        </div>
      </div>
      <div class="body-dialog">
        <div class="modal-anniversary">
          <div class="content-img">
            <img src="../../../../assets/img/news-img.png">
          </div>
  
          <div class="content-title-date">
            <h4 class="title-anniversary">La apuesta inmobiliaria de quienes cancelaron viajes por vacaciones debido al covid 19</h4>

            <div class="date">
                <p>02 enero 2021</p>
            </div>
          </div>
          
          <p class="italic-paragraph">Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en 
          demostraciones de tipografías o de borradores de diseño para probar el diseño visual antes de insertar 
          el texto final. Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones de 
          tipografías o de borradores de diseño para probar el diseño visual antes de insertar el texto final.</p>
      
          <p class="question-anniversary">What is Lorem Ipsum?</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type 
          and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap 
          into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release 
          of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like 
          Aldus PageMaker including versions of Lorem Ipsum.</p>
  
          <p class="question-anniversary">Why do we use it?</p>
              
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when 
          looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution 
          of letters, as opposed to using 'Content here, content here', making it look like readable English. 
          Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model 
          text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. 
          Various versions have evolved over the years, sometimes by accident, sometimes on purpose 
          (injected humour and the like).</p>
              
          <div class="link-original">
            <p>Ver en la pagina original</p>
          </div>
  
          <div class="content-button">
            <button (click)="closeDialogInfo()">Cerrar</button>
          </div>
        </div>
      </div>
    </app-dialog>
  </div>
  <app-footer></app-footer>
</ion-content>

