<ion-content class="content-section">
    <app-navigation-tabs></app-navigation-tabs>
    <div class="layout-section">
        <div class="container">
            <div class="row-actions-top">
                <div class="title-section-container">
                    <div class="title-arrow">
                        <!-- Flecha a la izquierda -->
                        <div class="left-arrow" (click)="volverInfo()">
                            <ion-icon name="arrow-back-outline"></ion-icon>
                        </div> 

                        <div class="title">
                            <h3 class="title-section color-news">Noticias Publicadas</h3>
                            <p class="subtitle-section color-news">Revisa aqui las noticias mas destacadas de ASEI</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Admin -->
            <!-- <div class="actions-page no-web">
                <button class="btn-new-item" (click)="createNews()">
                <span>Crear Noticias</span>
                <ion-icon class="icon-btn" name="add-circle"></ion-icon>
              </button>
            </div> -->
        </div>

        <ion-grid class="section-grid">
            <div class="news-grid">
                <div>
                    <app-buscador (buscatxt)="search_($event)"></app-buscador>
                </div>

                <ion-row>
                    <ion-col size="12" size-md="6" size-lg="4" *ngFor="let item of NewsData?.notes">
                        <app-card-items [news_child]="item" (idNews)="openNew_($event)" (idNewsE)="editNew_($event)" (idNewsR)="removeNew_($event)"></app-card-items>
                    </ion-col>
                </ion-row>

                <!-- <div class="cards-news">
                    <app-card-items *ngFor="let item of NewsData?.notes" [news_child]="item" (idNews)="openNew_($event)" (idNewsE)="editNew_($event)" (idNewsR)="removeNew_($event)">
                    </app-card-items>
                </div> -->

                <app-paginador [paginas]="pages" [pagina]="currentpage" (number_page)="changepage_($event)"></app-paginador>


            </div>
        </ion-grid>

    </div>
    <app-footer></app-footer>
</ion-content>