.indicators {
    overflow: hidden;
    width: 100% !important;
}

.indicators .left-arrow {
    position: absolute;
    right: 100%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.indicators .right-arrow {
    position: absolute;
    top: 50%;
    left: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.indicators .target-indicator {
    display: flex;
    padding: 0 2em;
}

.indicators .right-arrow .right-btn,
.indicators .left-arrow .left-btn {
    font-size: 30px;
    cursor: pointer;
}

.container .number-option {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.container .number-option .numbers-option {
    display: flex;
    margin: 0 1em;
}

.container .number-option p {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

@media (min-width: 600px) {
    .container .number-option p {
        width: 35px;
        height: 35px;
    }
}

@media (min-width: 768px) {
    .container .number-option p {
        width: 40px;
        height: 40px;
    }
}

.container .number-option .number-all {
    margin-right: 0.8em;
    transition: 0.5s ease;
    cursor: pointer;
    border: 1px solid #24344D;
}

.container .number-option .number-all:hover {
    background-color: #DF8708;
    color: #fff;
    border: none;
}

.container .number-option .numbers-option .number-one {
    color: #fff;
    background-color: #DF8708;
    border: none;
}

.container .number-option .numbers-option .number-all:last-child {
    margin: 0;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.content-btn {
    width: 30px;
    height: 5px;
    background-color: #C4C4C4;
    margin-right: 0.5em;
    transition: 0.5s ease;
    cursor: pointer;
}

.content-btn:hover {
    background-color: #DF8708;
}

.content-btn:nth-child(1) {
    background-color: #DF8708;
}

// Card agregar stat
.card-modal-1 {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* padding: 1.5em; */
}

.card-modal-1 .img-graphic {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (min-width: 768px) {
    .card-modal-1 .img-graphic {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.card-modal-1 .img-graphic p {
    margin: 0;
    padding: 0;
}

.card-modal-1 .img-graphic .left-img {
    flex-basis: calc(45% - 1em);
}

.card-modal-1 .img-graphic .left-img .insert-img {
    position: relative;
    width: 10em;
}

.card-modal-1 .img-graphic .left-img .insert-img p {
    background: #f0f0f0;
    border: 1px solid #828282;
    border-radius: 0.5em;
    padding: 0.5em 0.2em;
    text-align: center;
}

.card-modal-1 .img-graphic .left-img .insert-img input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.card-modal-1 .img-graphic .left-img .content-img {
    height: 7em;
    padding: 0.7em;
    border: 1px solid #828282;
    margin-top: 0.5em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .card-modal-1 .img-graphic .left-img .content-img {
        height: 20em;
    }
}

.card-modal-1 .img-graphic .left-img .content-img img {
    max-width: 100%;
    height: 6em;
}

@media (min-width: 768px) {
    .card-modal-1 .img-graphic .left-img .content-img img {
        height: 18em;
    }
}

.card-modal-1 .right-inputs {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .card-modal-1 .right-inputs {
        flex-basis: calc(55% - 1em);
    }
}

.card-modal-1 .right-inputs p {
    font-family: sans-serif;
    padding: 1em 0 0.5em 0;
    font-size: 0.8em;
}

.card-modal-1 .right-inputs input[type="text"] {
    outline: none;
    border: none;
    border: 1px solid #828282;
    background: #f0f0f0;
    padding: 0.7em;
    border-radius: 0.6em;
    font-family: sans-serif;
    font-size: 0.8em;
}

.card-modal-1 .right-inputs textarea {
    border-radius: 0.6em;
    outline: none;
    border: none;
    border: 1px solid #828282;
    background: #f0f0f0;
    padding: 0.7em;
    height: 7em;
    font-family: sans-serif;
    line-height: 1.4em;
    resize: none;
    font-size: 0.8em;
}

.card-modal-1 .right-inputs .time {
    display: flex;
    justify-content: space-between;
}

.card-modal-1 .right-inputs .time div {
    flex-basis: calc(50% - 0.5em);
}

.card-modal-1 .right-inputs .time select {
    outline: none;
    border: none;
    border: 1px solid #828282;
    background: #f0f0f0;
    padding: 0.7em;
    width: 100%;
    border-radius: 0.6em;
    color: #828282;
    transition: 1s ease;
}

.card-modal-1 .right-inputs .time select:focus {
    border-radius: 1em 1em 0 0;
}

.card-modal-1 .right-inputs .time select:active {
    border-radius: 1em 1em 0 0;
}

.card-modal-1 .right-inputs .time select option {
    color: #828282;
    border: 1px solid #828282;
}

.card-modal-1 .button {
    margin-top: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-modal-1 .button button {
    border: none;
    outline: none;
    background: #24344D;
    text-align: center;
    color: #fff;
    border-radius: 0.6em;
    padding: 1em;
    width: 15em;
    margin: 0 2em;
}


/* Fin card agregar */


/* Card form boletin */

.card-modal-2 {
    box-sizing: border-box;
}

.card-modal-2 .inputs-boletin p {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    padding: 1em 0 0.5em 0;
    font-size: 0.8em;
}

.card-modal-2 .inputs-boletin input[type="text"] {
    border-radius: 0.6em;
    outline: none;
    border: none;
    border: 1px solid #828282;
    background: #f0f0f0;
    padding: 0.7em;
    font-family: sans-serif;
    width: 100%;
}

.card-modal-2 .inputs-boletin .time {
    display: flex;
    justify-content: space-between;
}

.card-modal-2 .inputs-boletin .time div {
    flex-basis: calc(50% - 0.5em);
}

.card-modal-2 .inputs-boletin .time select {
    outline: none;
    border: none;
    border: 1px solid #828282;
    background: #f0f0f0;
    padding: 0.7em;
    width: 100%;
    border-radius: 0.6em;
    color: #828282;
    transition: 1s ease;
}

.card-modal-2 .inputs-boletin .time select:focus,
.card-modal-2 .inputs-boletin .time select:active {
    border-radius: 1em 1em 0 0;
}

.card-modal-2 .button {
    margin-top: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-modal-2 .button button {
    border: none;
    outline: none;
    background: #24344D;
    text-align: center;
    color: #fff;
    border-radius: 0.6em;
    padding: 1em;
    width: 15em;
    margin: 0 2em;
}


/* Fin card form boletin */


/* Card form indicador */

.card-modal-3 {
    box-sizing: border-box;
}

.card-modal-3 .inputs-boletin-2 .percentage {
    display: flex;
    justify-content: space-between;
}

.card-modal-3 .inputs-boletin-2 p {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    padding: 1em 0 0.5em 0;
    font-size: 0.8em;
}

.card-modal-3 .inputs-boletin-2 input[type="text"] {
    border-radius: 0.6em;
    outline: none;
    border: none;
    border: 1px solid #828282;
    background: #f0f0f0;
    padding: 0.7em;
    width: 100%;
    font-family: sans-serif;
}

.card-modal-3 .inputs-boletin-2 .percentage div {
    flex-basis: calc(50% - 2em);
}

.card-modal-3 .inputs-boletin-2 .percentage .number div {
    display: flex;
}

.card-modal-3 .inputs-boletin-2 .percentage .number div p {
    color: #828282;
}

.card-modal-3 .inputs-boletin-2 .percentage .number input[type="number"] {
    border-radius: 0.6em;
    outline: none;
    border: none;
    border: 1px solid #828282;
    background: #f0f0f0;
    padding: 0.7em;
    width: 100%;
    font-family: sans-serif;
    margin-right: 0.8em;
}

.card-modal-3 .inputs-boletin-2 .percentage .number input[type="number"]::placeholder {
    color: #000;
}

.card-modal-3 .inputs-boletin-2 .percentage select {
    outline: none;
    border: none;
    border: 1px solid #828282;
    background: #f0f0f0;
    padding: 0.7em;
    width: 100%;
    border-radius: 0.6em;
    transition: 1s ease;
}

.card-modal-3 .inputs-boletin-2 .percentage select:focus,
.card-modal-3 .inputs-boletin-2 .percentage select:active {
    border-radius: 1em 1em 0 0;
}

.card-modal-3 .button {
    margin-top: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-modal-3 .button button {
    border: none;
    outline: none;
    background: #24344D;
    text-align: center;
    color: #fff;
    border-radius: 0.6em;
    padding: 1em;
    width: 15em;
    margin: 0 2em;
}


/* Fin card form indicador */


/* Card Eliminar */

.card-modal-5 {
    font-size: 0.8em;
    font-family: sans-serif;
    height: auto;
    box-sizing: border-box;
}

.card-modal-5 p {
    padding: 0;
    margin: 0;
    text-align: center;
}

.card-modal-5 .button {
    margin-top: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-modal-5 .button button {
    border: none;
    outline: none;
    background: #24344D;
    text-align: center;
    color: #fff;
    border-radius: 0.6em;
    padding: 1em;
    width: 15em;
    cursor: pointer;
}

.indicators {
    overflow: hidden;
}

.indicators .left-arrow {
    position: absolute;
    right: 100%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.indicators .right-arrow {
    position: absolute;
    top: 50%;
    left: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.indicators .target-indicator {
    display: flex;
    padding: 0 2em;
}

.indicators .right-arrow .right-btn,
.indicators .left-arrow .left-btn {
    font-size: 30px;
    cursor: pointer;
}

app-percent-card {
    width: 100%;
}

app-bulletin-list {
    overflow: auto;
}

.boletin-card .title-card .title {
    padding: 1rem !important;
}

input[type=file]::-webkit-file-upload-button {
    border: 1px solid grey;
    background: #FFFAAA;
    opacity:0;
    width:80px;
}

input[type=file]{
    position:absolute;
    height:42px;
    padding-top:9px;
}

.icon-doc{
    width:80px;
    height:42px;
    color:gray;
}

.añadir-st{
    width:100%;
    cursor:pointer;
    padding:0px;
}

.a-st,.a-st p{
    cursor:pointer;
}


.añadir-st::-webkit-file-upload-button {
    cursor:pointer;
  }


 .inputs-boletin input[type="file"] {
    width:80px;
    height:42px;
}

.btn-new-item{
    padding:.6em 1.5em;
}
.sugerencia{
    font-size: 75%;
    color: gray;
    padding-left: 0.5em;
    padding-top: 0.5em;
}
