<ion-content class="content-section">
    <app-navigation-tabs></app-navigation-tabs>
    <div class="layout-section">
        <div class="container">
            <div class="row-actions-top">
                <div class="title-section-container">
                    <h3 class="title-section">Estadisticos ASEI</h3>
                    <p class="subtitle-section">Encontrarás gráficos actualizados sobre nuestras últimas actividades del mes</p>
                </div>
                <div class="actions-page">

                    <!-- <select class="select-module padding-1 select-color-2 select-border-none" name="" id="">
                          <option disabled selected>Año</option>
                          <option value=" ">Option 1</option>
                          <option value=" ">Option 2</option>
                          <option value=" ">Option 3</option>
                      </select>

                    <select class="select-module padding-1 select-color-2 select-border-none" name="" id="">
                          <option disabled selected>Mes</option>
                          <option value=" ">Enero</option>
                          <option value=" ">Febrero</option>
                          <option value=" ">Marzo</option>
                          <option value=" ">Abril</option>
                          <option value=" ">Mayo</option>
                          <option value=" ">Junio</option>
                          <option value=" ">Julio</option>
                          <option value=" ">Agosto</option>
                          <option value=" ">Septiembre</option>
                          <option value=" ">Octubre</option>
                          <option value=" ">Noviembre</option>
                          <option value=" ">Diciembre</option>
                      </select> -->


                    <button *ngIf='rol == "admin"' (click)="openDialogStat()" class="btn-new-item">
                      <span>Nuevo gráfico</span>
                      <ion-icon class="icon-btn" name="add"></ion-icon>
                  </button>
                </div>
            </div>

            <ion-grid class="section-grid">
                <ion-row>
                    <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12" *ngFor="let statistics of statistics_data">
                        <app-stat-card (editItemEv)="editStat($event)" (deleteItemEv)="removeStat($event)" [card_child]="statistics"></app-stat-card>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <app-paginador [paginas]="pages" [pagina]="currentpage" (number_page)="changepage_($event)"></app-paginador>

            <ion-grid class="section-grid">
                <ion-row>
                    <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
                        <div class="row-actions-top">
                            <div class="title-section-container">
                                <h3 class="title-section">Boletines asei</h3>
                                <p class="subtitle-section">Encuentra aqui el repositorio de graficos e indicadores ASEI</p>
                            </div>
                            <button *ngIf='rol == "admin"' (click)="openDialogBulletin()" class="btn-new-item mt-3 mb-3">
                              <span>Nuevo boletín</span>
                              <ion-icon class="icon-btn" name="add"></ion-icon>
                          </button>
                        </div>

                        <div class="card boletin-card">
                            <div class="title-card">
                                <h1 class="title no-margin">Historial de Boletines ASEI</h1>
                            </div>

                            <app-bulletin-list (editItemEv)="editBulletin($event)" (deleteItemEv)="removeBulletin($event)" [years_child]="years" [bulletin_child]="bulletin_data"></app-bulletin-list>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid class="section-grid">
                <ion-row>
                    <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
                        <div class="row-actions-top">
                            <div class="title-section-container">
                                <h3 class="title-section">INDICADORES DEL MES</h3>
                                <p class="subtitle-section">Visualiza los indicadores más relevantes de este utlimo mes</p>
                            </div>
                            <button *ngIf='rol == "admin"' (click)="openDialogInd()" class="btn-new-item mt-3 mb-3">
                              <span>Nuevo indicador</span>
                              <ion-icon class="icon-btn" name="add"></ion-icon>
                            </button>
                        </div>
                        <ion-row>
                            <div class="indicators">
                                <div class="left-arrow">
                                    <ion-icon class="left-btn" name="chevron-back-outline"></ion-icon>
                                </div>

                                <div class="target-indicator">
                                    <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12" class="pt-0 pb-0" *ngFor="let indicador of indicador_data">
                                        <app-percent-card (editItemEv)="editInd($event)" (deleteItemEv)="removeInd($event)" [card_ind]="indicador"></app-percent-card>
                                    </ion-col>

                                </div>
                                <div class="right-arrow">
                                    <ion-icon class="right-btn" name="chevron-forward-outline"></ion-icon>
                                </div>

                                <div class="buttons">
                                    <div class="content-btn"></div>
                                    <div class="content-btn"></div>
                                </div>
                            </div>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>


        <!-- Dialogo nueva stat -->
        <app-dialog *ngIf="dialogNewStat" [dialog]="dialogNewStat" [width]="800" [height]="580" (closeDialogEv)="closeDialogStat()">
            <div class="header-dialog">
                <div class="title-section-container">
                    <h3 class="title-section">{{ isEdited ? 'Editar Gráfico' : 'Nuevo Gráfico' }}</h3>
                    <p class="subtitle-section">Completa la información correspondiente al gráfico</p>
                </div>
            </div>
            <div class="body-dialog">
                <form (ngSubmit)="isEdited ? statedit( fStat ) : stat( fStat )" #fStat="ngForm">
                    <div class="card-modal-1">
                        <div class="img-graphic">
                            <div class="left-img">
                                <div class="insert-img">
                                    <p>Añadir imagen*</p>
                                    <input type="file" title="Añadir imagen" accept="image/*" name="image" (change)="handleFileInput($event)" required>
                                </div>

                                <div class="content-img">
                                    <img src="{{ imagestat }}" alt="">
                                </div>
                            </div>

                            <div class="right-inputs">
                                <p>Titulo del gráfico*</p>
                                <input type="text" name="title" [(ngModel)]="titlestat">

                                <p>Descripción del gráfico*</p>
                                <textarea name="description" [(ngModel)]="descriptionstat"></textarea>
                                <input type="hidden" name="id" [(ngModel)]="id_stat">
                                <div class="time">
                                    <div class="month">
                                        <p>Mes*</p>
                                        <select name="month" [(ngModel)]="monthstat">
                                            <option value="Enero" selected>Enero</option>
                                            <option value="Febrero">Febrero</option>
                                            <option value="Marzo">Marzo</option>
                                            <option value="Abril">Abril</option>
                                            <option value="Mayo">Mayo</option>
                                            <option value="Junio">Junio</option>
                                            <option value="Julio">Julio</option>
                                            <option value="Agosto">Agosto</option>
                                            <option value="Septiembre">Septiembre</option>
                                            <option value="Octubre">Octubre</option>
                                            <option value="Noviembre">Noviembre</option>
                                            <option value="Diciembre">Diciembre</option>
                                        </select>
                                    </div>

                                    <div class="year">
                                        <p>Año*</p>
                                        <select name="year" [(ngModel)]="yearstat">
                                            <option value="2020" selected>2020</option>
                                            <option value="2019">2019</option>
                                            <option value="2018">2018</option>
                                            <option value="2017">2017</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="button">
                            <button type="submit">Guardar Gráfico</button>
                        </div>
                    </div>
                </form>
            </div>
        </app-dialog>
        <!-- Fin Dialogo nueva stat -->

        <!-- Dialogo boletin -->
        <app-dialog *ngIf="dialogBulletin" [dialog]="dialogBulletin" [width]="400" [height]="420" (closeDialogEv)="closeDialogBulletin()">
            <div class="header-dialog">
                <div class="title-section-container">
                    <h3 class="title-section"> {{ isEdited ? 'Editar Boletín' : 'Nuevo Boletín' }}</h3>
                    <p class="subtitle-section">Completa la información del Boletín</p>
                </div>
            </div>
            <div class="body-dialog">
                <form (ngSubmit)="isEdited ? bulletedit( fbullet ) : bullet( fbullet )" #fbullet="ngForm">
                    <div class="card-modal-2">
                        <div class="inputs-boletin">
                            <p>Titulos del indicador*</p>
                            <input type="text" [(ngModel)]="titlebull" name="title">

                            <div class="time">
                                <div class="month">
                                    <p>Mes*</p>
                                    <select name="month" id="" [(ngModel)]="monthbull">
                                      <option value="Enero" selected>Enero</option>
                                      <option value="Febrero">Febrero</option>
                                      <option value="Marzo">Marzo</option>
                                      <option value="Abril">Abril</option>
                                      <option value="Mayo">Mayo</option>
                                      <option value="Junio">Junio</option>
                                      <option value="Julio">Julio</option>
                                      <option value="Agosto">Agosto</option>
                                      <option value="Septiembre">Septiembre</option>
                                      <option value="Octubre">Octubre</option>
                                      <option value="Noviembre">Noviembre</option>
                                      <option value="Diciembre">Diciembre</option>
                                  </select>
                                </div>

                                <div class="year">
                                    <p>Año*</p>
                                    <select name="year" [(ngModel)]="yearbull">
                                      <option [value]="item" *ngFor="let item of [2024,2023,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013]" >{{ item }}</option>
                                  </select>
                                </div>
                            </div>

                            <p>Añade data del boletin</p>
                            <input type="file" accept="application/pdf" (change)="adjuntfile($event)">
                            <input type="hidden" name="id" [(ngModel)]="idbull">
                        </div>

                        <div class="button">
                            <button>Guardar Boletin</button>
                        </div>
                    </div>
                </form>
            </div>
        </app-dialog>

        <!-- Fin dialogo boletin -->

        <!-- Dialogo indicador -->
        <app-dialog *ngIf="dialogNewInd" [dialog]="dialogNewInd" [width]="400" [height]="430" (closeDialogEv)="closeDialogind()">
            <div class="header-dialog">
                <div class="title-section-container">
                    <h3 class="title-section">{{ isEdited ? 'Editar Indicador' : 'Nuevo Indicador' }}</h3>
                    <p class="subtitle-section">Completa la información del indicador</p>
                </div>
            </div>
            <div class="body-dialog">
                <form (ngSubmit)="isEdited ? indedit( fInd ) : ind( fInd )" #fInd="ngForm">
                    <div class="card-modal-3">
                        <div>
                            <div class="inputs-boletin-2">
                                <div class="percentage">
                                    <div class="number">
                                        <p>Porcentaje*</p>

                                        <div>
                                            <input name="percentage" [(ngModel)]="percentageind" type="number" min="50" placeholder="50">
                                            <p>%</p>
                                        </div>
                                    </div>

                                    <div class="letters">
                                        <p>Tipo*</p>
                                        <div *ngIf="typeind == 'incremento' ">
                                            <select name="type" [(ngModel)]="typeind">
                                                <option value="incremento" selected>incremento</option>
                                                <option value="decremento">decremento</option>
                                            </select>
                                        </div>
                                        <div *ngIf="typeind == 'decremento' ">
                                            <select name="type" [(ngModel)]="typeind">
                                                <option value="incremento">incremento</option>
                                                <option value="decremento" selected>decremento</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <p>Titulo*</p>
                                <input type="text" name="title" [(ngModel)]="titleind" placeholder="Ventas por proyecto">

                                <p>Descripcion*</p>

                                <input type="text" name="description" [(ngModel)]="descriptionind" placeholder="Pequeña descripcion del indicador estatico">
                            </div>
                        </div>

                        <div class="button">
                            <button type="submit">Guardar Indicador</button>
                        </div>
                    </div>
                </form>
            </div>
        </app-dialog>
        <!-- Fin dialogo indicador -->

        <!-- Dialogo eliminar -->
        <app-dialog *ngIf="dialogRemove" [dialog]="dialogRemove" [width]="250" [height]="210" (closeDialogEv)="closeDialogRemove()">
            <div class="header-dialog">
                <div class="title-section-container">
                    <h3 class="title-section">{{titleDialogRemove}}</h3>
                </div>
            </div>
            <div class="body-dialog">
                <div class="card-modal-5">
                    <p>¿Estas seguro que deseas eliminar este elemento?</p>

                    <div class="button">
                        <button (click)="btn_remove()">Eliminar</button>
                    </div>
                </div>
            </div>
        </app-dialog>
        <!-- Fin dialogo eliminar -->

    </div>
    <app-footer></app-footer>
</ion-content>