<ion-content class="content-section">
    <div class="layout-section">
        <div class="container">
            <div class="row-actions-top">
                <div class="title-section-container">
                    <h3 class="title-section">Learning Center</h3>
                    <p class="subtitle-section">Revisa en esta sección los cursos, webinar y certificados ASEI</p>
                </div>
            </div>
        </div>

        <ion-grid class="section-grid">
            <div class="cards-section">
                <div class="cards-content metting-section" (click)="cursos()">
                    <img class="img-part1" src="../../../assets/img/mettings.png">
                    <img class="logo-learning" src="../../../assets/img/logo-learning.png">
                    <h5>ASEI metting</h5>
                </div>
    
                <div class="cards-content webinars-section" (click)="webinars()">
                    <img class="img-part1" src="../../../assets/img/webinar.png">
                    <img class="logo-learning" src="../../../assets/img/logo-learning.png">
                    <h5>Webinars</h5>
                </div>
    
                <div class="cards-content certificados-section" (click)="certificados()">
                    <img class="img-part1" src="../../../assets/img/certificados.png">
                    <img class="logo-learning" src="../../../assets/img/logo-learning.png">
                    <h5>Mis certificados</h5>
                </div>
            </div>
        </ion-grid>
    </div>
    <app-footer></app-footer>
</ion-content>