<ion-content class="content-section">
    <div class="layout-section">
        <div class="container">
            <div class="row-actions-top">
                <div class="title-section-container">
                    <h3 class="title-section">Learning Center</h3>
                    <p class="subtitle-section">Revisa en esta sección los cursos, webinar y certificados ASEI</p>
                </div>
            </div>
        </div>
        
        <ion-grid>
            <ion-row>
                <ion-col size="12" size-md="6" size-lg="4">
                    <ion-card (click)="cursos()">
                        <ion-card-header>
                            <img class="logo-learning" src="../../../assets/img/logo-learning.png">
                        </ion-card-header>
                        <ion-card-content>
                            ASEI metting
                        </ion-card-content>
                        <img src="../../../assets/img/mettings.png" alt="">
                    </ion-card>
                </ion-col>
                <ion-col size="12" size-md="6" size-lg="4">
                    <ion-card (click)="webinars()">
                        <ion-card-header>
                            <img class="logo-learning" src="../../../assets/img/logo-learning.png">
                        </ion-card-header>
                        <ion-card-content>
                            Webinars
                        </ion-card-content>
                        <img src="../../../assets/img/webinar.png" alt="" class="img_card">
                    </ion-card>
                </ion-col>
                <ion-col size="12" size-md="6" size-lg="4">
                    <ion-card (click)="certificados()">
                        <ion-card-header>
                            <img class="logo-learning" src="../../../assets/img/logo-learning.png">
                        </ion-card-header>
                        <ion-card-content>
                            Mis certificados
                        </ion-card-content>
                        <img src="../../../assets/img/certificados.png" alt="">
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <app-footer></app-footer>
</ion-content>