<div class="card percent-cards">
    <div class="absolute-right" *ngIf="rol=='admin'">
        <div class="drop-menu">
        </div>
    </div>
    <!-- usar clase up-trending si es para incremento y low-trending si es para decremento -->
    <div class="top-percent up-trending">
        <ion-icon class="icon-top-percent" name="trending-up" *ngIf="card_ind.type =='incremento'"></ion-icon>
        <ion-icon name="trending-down" *ngIf="card_ind.type =='decremento'"></ion-icon>
        <span class="label-top-percent">{{ card_ind.type | lowercase }}</span>
    </div>
    <div class="percent">
        {{ card_ind.percentage }}
    </div>
    <div class="title-percent">
        {{ card_ind.title }}
    </div>
    <!-- <div class="description-percent">
        {{ card_ind.description }}
    </div> -->

    <!-- Admin -->
    <div class="admin-edit">
        <div class="pencil-btn" title="Editar">
            <ion-icon name="pencil-outline" (click)="editItem(card_ind.id, card_ind.title, card_ind.description, card_ind.percentage, card_ind.type)"></ion-icon>
        </div>

        <div class="delete-btn" title="Eliminar" >
            <ion-icon name="trash" (click)="deleteItem(card_ind.id)"></ion-icon>
        </div>
    </div>
</div>
